<div class="product" ng-class="{'on-sale': product.displayVariant.prices[0].discounted, 'no-stock': !product.displayVariant.availability.isOnStock}" bindonce="ready">
  <div class="product-extras">
    <!-- <span class="new-badge" ng-if="product.displayVariant.isNew">New</span> -->
    <span class="on-sale-badge" bo-if="product.displayVariant.prices[0].discounted">Sale</span>
    <!-- <span class="no-stock-notice" ng-if="!product.displayVariant.availability.isOnStock">Out of Stock</span> -->
  </div>
  <a class="product-cover"><img ng-src="{{product.displayVariant.images[0]['url'] | size: 'medium'}}"/></a>
  <a class="product-title"><b bo-text="product.name | locale"></b></a>
  <span class="price">

    <del bo-if="product.displayVariant.prices[0].discounted">
      <span class="amount" bo-text="product.displayVariant.prices[0].discounted.value | spherePrice"></span>
    </del>
    <ins>
      <span class="amount sale-price" bo-text="product.displayVariant.prices | currency | channel:'nonprescription' | spherePrice"></span>
    </ins>
  </span>
</div>
