<span ng-controller="FooterController">
<div id="newsletter-wrapper" >
    <div class="content-wrapper">
        <section id="footer-newsletter">
            <div class="newsletter">
                <h3>Sign up for Focali news</h3>

                <p>Stay stylishly up-to-date with the latest news, hottest trends and new arrivals direct to your
                    inbox.</p>

                <form data-ng-submit="subscribeToNewsletter()" class="validate" id="newsletter-form" novalidate>
                    <div class="nl-wrapper mc-field-group">
                        <input type="email" name="email" ng-model="newsletter.email" class="required email"  placeholder="Enter your email address"/>
                        <button type="submit"><img src="/design/images/footer/newsletter-button.png"/></button>
                    </div>
                </form>

                <!--<form action="//localhost.us11.list-manage.com/subscribe/post?u=32c60b976811b3cb878cd5a76&amp;id=363d286358" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>-->
                <!--&lt;!&ndash; <form action="#" id="newsletter-form"> &ndash;&gt;-->
                    <!--<div class="nl-wrapper mc-field-group">-->
                        <!--<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address"/>-->
                        <!--<button type="submit"><img src="/design/images/footer/newsletter-button.png"/></button>-->
                        <!--<div style="position: absolute; left: -5000px;"><input type="text" name="b_32c60b976811b3cb878cd5a76_363d286358" tabindex="-1" value=""></div>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
        </section>
    </div>
</div><!--close container for full width bg-->
<div class="footer-wrapper">
    <div class="content-wrapper">
        <footer>
            <div id="footer-nav-first" class="footer-nav">
                <nav id="footer-first">
                    <div class="footer-first-nav-block">
                        <h5><a href="#!/categories/eywear">Eyewear</a></h5>
                        <hr/>
                        <ul>
                            <li><a href="#!/categories/men/eyewear">Men's Eyewear</a></li>
                            <li><a href="#!/categories/women/eyewear">Women's Eyewear</a></li>
                        </ul>
                    </div>
                    <div class="footer-first-nav-block">
                        <h5><a href="#!/categories/sunglasses">Sunglasses</a></h5>
                        <hr/>
                        <ul>
                            <li><a href="#!/categories/men/sunglasses">Men's Sunglasses</a></li>
                            <li><a href="#!/categories/women/sunglasses">Women's Sunglasses</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="footer-nav-second" class="footer-nav">
                <nav id="footer-second">
                    <div class="footer-second-nav-block">
                        <h5>Service</h5>
                        <hr/>
                        <ul>
                            <li data-ng-show="authentication.user"><a href="#!/account">Account</a></li>
                            <li><a href="#!/help">Help</a></li>
                        </ul>
                    </div>
                    <div class="footer-second-nav-block">
                        <h5>Company</h5>
                        <hr/>
                        <ul>
                            <li><a href="#!/about-us">About Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-second-nav-block" id="focali-block">
                        <h5>Focali</h5>
                        <hr/>
                        4120 Lenox Avenue<br/>
                        New York, NY<br/>
                        <a href="mailto:mail@focali.com">mail@focali.com</a><br/>
                        +48 543765234
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
            <hr/>
            <div id="site-copyright">
                &copy; 2015 Focali Eyewear. All Rights Reserved. &nbsp; &nbsp; <a href="#!/">Privacy Policy</a>
                &nbsp; &nbsp; <a href="/base-page.html">Terms of Use</a> &nbsp; &nbsp; <a href="#!/help">Contact</a>
            </div>

        </footer>
    </div>
</div>
</span>
