<div id="newsletter-wrapper">
    <div class="content-wrapper">
        <section id="footer-newsletter">
            <div class="newsletter">
                <h3>Sign up for Focali news</h3>

                <p>Stay stylishly up-to-date with the latest news, hottest trends and new arrivals direct to your
                    inbox.</p>

                <form action="#" id="newsletter-form">
                    <div class="nl-wrapper">
                        <input type="email" name="newsletter-email" placeholder="Enter your email address"/>
                        <button type="submit"><img src="design/images/footer/newsletter-button.png"/></button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div><!--close container for full width bg-->
<div class="footer-wrapper">
    <div class="content-wrapper">
        <footer>
            <div id="footer-nav-first" class="footer-nav">
                <nav id="footer-first">
                    <div class="footer-first-nav-block">
                        <h5>Eyewear</h5>
                        <hr/>
                        <ul>
                            <li><a href="/eyewear/men-eyewear.html">Men's Eyewear</a></li>
                            <li><a href="/eyewear/women-eyewear.html">Women's Eyewear</a></li>
                        </ul>
                    </div>
                    <div class="footer-first-nav-block">
                        <h5>Sunglasses</h5>
                        <hr/>
                        <ul>
                            <li><a href="/mens-sunglasses/">Men's Sunglasses</a></li>
                            <li><a href="/womens-sunglasses/">Women's Sunglasses</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="footer-nav-second" class="footer-nav">
                <nav id="footer-second">
                    <div class="footer-second-nav-block">
                        <h5>Service</h5>
                        <hr/>
                        <ul>
                            <li><a href="/account.html">Account</a></li>
                            <li><a href="/help.html">Help</a></li>
                        </ul>
                    </div>
                    <div class="footer-second-nav-block">
                        <h5>Company</h5>
                        <hr/>
                        <ul>
                            <li><a href="/locations.html">Locations</a></li>
                            <li><a href="/about-us.html">About Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-second-nav-block" id="focali-block">
                        <h5>Focali</h5>
                        <hr/>
                        4120 Lenox Avenue<br/>
                        New York, NY<br/>
                        <a href="mailto:mail@focali.com">mail@focali.com</a><br/>
                        +48 543765234
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
            <hr/>
            <div id="site-copyright">
                © 2015 Focali Eyewear. All Rights Reserved. &nbsp; &nbsp; <a href="/base-page.html">Privacy Policy</a>
                &nbsp; &nbsp; <a href="/base-page.html">Terms of Use</a> &nbsp; &nbsp; <a href="/help.html">Contact</a>
            </div>
        </footer>
    </div>
</div>
