<span ng-controller="FooterController">
<div id="newsletter-wrapper" >
    <div class="content-wrapper">
        <section id="footer-newsletter">
            <div class="newsletter">
                <h3>{{::(view.signUp.name || view.signUp.title)}}</h3>

                <p marked="::view.signUp.text"></p>

                <form data-ng-submit="subscribeToNewsletter()" class="validate" id="newsletter-form" novalidate>
                    <div class="nl-wrapper mc-field-group">
                        <input type="email" name="email" ng-model="newsletter.email" class="required email"  placeholder="Enter your email address"/>
                        <button type="submit"><img src="/design/images/footer/newsletter-button.png"/></button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div><!--close container for full width bg-->
<div class="footer-wrapper">
    <div class="content-wrapper">
        <footer>
          <div id="footer-nav-first" class="footer-nav">
            <nav id="footer-first">
              <div class="footer-first-nav-block" ng-repeat="block in view.leftLinks track by $index">
                <h5 ng-if="::!!block.links[0].url">
                  <a ng-href="{{::block.links[0].url}}">{{::block.links[0].name}}</a>
                </h5>
                <h5 ng-if="::!block.links[0].url">
                  {{::block.links[0].name}}
                </h5>
                <hr />

                <ul>
                  <li ng-repeat="link in ::block.links.slice(1)">
                    <div ng-if="::!link.url">
                      {{::(link.text || link.name)}}
                    </div>
                    <a ng-href="{{::link.url}}" ng-if="::!!link.url">
                      {{::(link.text || link.name)}}
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <div id="footer-nav-second" class="footer-nav">
            <nav id="footer-first">
              <div class="footer-second-nav-block" ng-repeat="block in ::view.rightLinks track by $index">
                <h5 ng-if="::!!block.links[0].url">
                  <a ng-href="{{::block.links[0].url}}">{{::block.links[0].name}}</a>
                </h5>
                <h5 ng-if="::!block.links[0].url">
                  {{::block.links[0].name}}
                </h5>
                <hr />

                <ul>
                  <li ng-repeat="link in ::block.links.slice(1) track by $index">
                    <div ng-if="::!link.url">
                      {{::(link.title || link.name)}}
                    </div>
                    <a ng-href="{{::link.url}}" ng-if="::!!link.url">
                      {{::(link.title || link.name)}}
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
            <div class="clearfix"></div>
            <hr/>
            <div class="footer-copy">
              <span id="site-copyright">{{::view.copyright}}<br>
                <a ng-repeat="link in ::view.disclaimerLinks track by $index" ng-href="{{::link.url}}" style="display:inline-block; margin: 0px 10px">
                  {{::(link.title || link.name)}}
                </a>
              </span>
            </div>
            <span class="payment-method-icons">
            <div class="payment-text"> Accepted Payment Methods </div>
            <image src="https://www.braintreepayments.com/images/visa-logo-8ea8a4fc.svg">
            <image src="https://www.braintreepayments.com/images/mastercard-logo-09664196.svg">
            <image src="https://www.braintreepayments.com/images/amex-logo-e238f7a3.svg">
            <image src="https://blueprint.paypal.com/assets/marketing/logos/paypal-logo-90113b77b1c624cdb112157eb755efb19dec57e2a52eafac3d647233a5c7d78d.png" height="200px" width="100px">
            </span>
            <span class="social-networks footer-social">
                <a id="li" class="social-icon" href="https://www.linkedin.com/in/focalioptics"><i class="icon-linkedin-circled"></i></a>
                <a id="fb" class="social-icon" href="https://www.facebook.com/focalioptics2016"><i class="icon-facebook-circled"></i></a>
                <a id="gp" class="social-icon" href="https://plus.google.com/u/0/111744339923980334241"><i class="icon-gplus-circled"></i></a>
                <a id="tw" class="social-icon" href="https://twitter.com/FocaliOptics"><i class="icon-twitter-circled"></i></a>
            </span>
        </footer>
    </div>
</div>
</span>
