<div ng-controller="HeaderController">
    <div class="site-search-wrapper">
        <div class="content-wrapper">
            <section id="site-search">
                <div class="col-lg-12">
                    <div class="site-search-form">
                        <meta itemprop="target" content="http://www.focali.com/search?q={query}"/>
                        <input ng-model="searchText" itemprop="query-input" type="text" name="query" placeholder="Search for product" ng-enter="search(searchText)">
                        <button ng-click="search(searchText)"><img src="/design/images/search-icon.png" width="20" height="auto"/></button>
                        <a class="close" id="search-close" search-close href="#"><img src="/design/images/close-button.png" width="30" height="30" alt="close-search"/>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="content-wrapper">
        <header id="main">
            <div class="brand">
              <img class="logo-icon" src="/design/images/focali-icon.png" width="50" height="50"/>
              <a ng-href="/" rel="logo">
                <img ng-src="{{view.logo.file.url}}" alt="Focali" height="50">
              </a>
            </div>
            <nav id="primary" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="main-navigation">
                  <li ng-repeat="li in ::view.links" ng-class="{'has-children': li.links}">
                    <!-- li can be a container or a list -->
                    <a ng-if="!li.links.length" ng-href="{{::li.url}}">{{::(li.title || li.name)}}</a>
                    <a ng-if="li.links.length > 0" ng-href="{{::li.links[0].url}}">{{::(li.links[0].title || li.links[0].name)}}</a>
                    <ul ng-if="li.links.length > 0" class="sub-menu">
                        <li ng-repeat="sub in ::li.links.slice(1)">
                          <a ng-href="{{::sub.url}}">{{::(sub.title || sub.name)}}</a>
                        </li>
                    </ul>
                  </li>
                </ul>
            </nav>
            <div class="top-cart">
                <div class="search">
                    <a href="#" id="search-expander" search-expander><img src="/design/images/search-icon.png" width="20" height="auto"/></a>
                </div>
                <div class="top-user-name">
                    <a href="/login" class="site-login" data-ng-hide="authentication.user">Login</a>
                    <a class="top-name" href="" data-ng-show="authentication.user" style="cursor: default;">Welcome back {{authentication.user.firstName}}</a><br/>
                    <a href="/account" class="my-account-top" data-ng-show="authentication.user">My Account</a> <span data-ng-show="authentication.user">/</span> <a href="" class="site-login" data-ng-click="signout()" data-ng-show="authentication.user">Logout</a>
                </div>
			<span class="cart-contents">
				<a href="/cart" class="btn creme radius xsmall outline cart cart-fade-in-class" id="top-cart-tr"><i
                        class="cart-icon"></i> Cart <span class="items-in-cart">({{cart.lineItems.length}})</span></a>
				<div ng-if="cart.lineItems" class="cart-preview hidden cart-fade-out-class">
                    <table id="cart-preview">
                        <thead>
                        <th id="cp-remove"></th>
                        <th id="cp-product">Product</th>
                        <th id="cp-qty">Quantity</th>
                        <th id="cp-price">Price</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product-preview">
                        	<td><a ng-click="removeFromCart(lineItem)" class="remove-product remove-from-cart" href=""></a></td>
                            <td class="product-name">{{lineItem.name.en}}
                                <label class="no-margin">{{lineItem.distributionChannel.obj.name | locale}}<label>
                            </td>
                            <td class="cp-qty-td">{{lineItem.quantity}}</td>
                            <td class="cp-price-td">
                                <span ng-if="!lineItem.discountedPrice" ng-bind="lineItem.price | priceTimes:lineItem.quantity | spherePrice"></span>
                                <span ng-if="lineItem.discountedPrice" ng-bind="lineItem.discountedPrice | priceTimes:lineItem.quantity | spherePrice"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="top-cart-action-buttons">
	                    <a href="/cart" id="view-cart-btn" class="btn radius small outline thick blue">View Cart</a>
	                    <a ng-click="proceedToCheckout()" href="" class="btn radius small blue">Checkout</a>
                    </div>
                    <div class="top-cart-total">
                    	<span>
                    	<!--I'm putting this same function from the cart, but the total doesn't seem to be correct-->
                    	{{cart.totalPrice ? (cart.totalPrice | spherePrice) : '-'}}</span>
                    </div>
                </div>
			</span>

            </div>
        </header>
    </div>
</div>
