<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">focali-mean</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">

			<li class="dropdown"  style="height: 49px;">
				<a href="#" class="dropdown-toggle"><i class="glyphicon glyphicon-shopping-cart"></i></a>

				<div ng-if="cart.lineItems.length > 0" style="background-color: #4253FF;height: 14px;width: 17px;position: relative;top: -37px;left: 30px;text-align: center">
					<span style="font-size: 11px;color: white;position: relative;top: -5px;">{{cart.lineItems.length}}</span>
				</div>
				<ul class="dropdown-menu">
					<li style="width: 515px;">

						<div ng-repeat="item in cart.lineItems" style="margin-bottom: 5px;">
							<span style="margin-left: 5px;font-size: 12px;"><b>{{item.id}}</b></span>
						</div>

						<div ng-if="cart.lineItems.length == 0" style="margin-bottom: 5px;">
							<span style="position: relative;left: 12px;top: 3px;">There are no requests.</span>
						</div>

					</li>
				</ul>
			</li>

		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/login">Login</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.firstName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/customer/profile">My Account</a>
					</li>
					<li>
						<a href="/#!/customer/addresses">My Addresses</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
