<div class="content-wrapper" ng-controller="HeaderController">
    <header id="main">
        <div class="brand">
            <a href="/" rel="logo"><img src="design/images/focalilogo.png" alt="Focali" width="102" height="40"</a>
        </div>
        <nav id="primary" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="main-navigation">
                <li class="has-children">
                    <a href="#">Men</a>
                    <ul class="sub-menu">
                        <li><a href="#!/categories/men/eyewear">Men's Eyewear</a></li>
                        <li><a href="#!/categories/men/sunglasses">Men's Sunglasses</a></li>
                        <li><a href="#!/categories/men/summer2015">Men's Summer 2015</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Women</a>
                    <ul class="sub-menu">
                        <li><a href="#!/categories/women/eyewear">Women's Eyewear</a></li>
                        <li><a href="#!/categories/women/sunglasses">Women's Sunglasses</a></li>
                        <li><a href="#!/categories/women/summer">Women's Summer 2015</a></li>
                    </ul>

                </li>
                <li><a href="#!/locations">Locations</a></li>
                <li><a href="#!/about-us">About Us</a></li>
                <li><a href="#!/help">Help</a></li>
            </ul>
        </nav>
        <div class="top-cart">
            <div class="search">
                <form itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" action="#">
                    <meta itemprop="target" content="http://www.focali.com/search?q={query}"/>
                    <input itemprop="query-input" type="text" name="query">
                </form>
            </div>
            <a href="#!/login" class="site-login" data-ng-hide="authentication.user">Login</a>
            <a href="/auth/signout" class="site-login" data-ng-show="authentication.user">Logout</a>
			<span class="cart-contents">
				<a href="#!/cart" class="btn creme radius xsmall outline cart" id="top-cart-tr"><i
                        class="cart-icon"></i> Cart <span class="items-in-cart">({{cart.lineItems.length}})</span></a>
				<div ng-if="cart.lineItems" class="cart-preview hidden">
                    <table id="cart-preview">
                        <thead>
                        <th id="cp-product">Product</th>
                        <th id="cp-qty">Quantity</th>
                        <th id="cp-price">Price</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product-preview">
                            <td><a ng-click="removeFromCart(lineItem)" class="remove-product" href="">X</a> {{lineItem.name.en}}</td>
                            <td class="cp-qty-td">{{lineItem.quantity}}</td>
                            <td class="cp-price-td">&euro;{{lineItem.price.value.centAmount * lineItem.quantity / 100}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#!/cart" class="btn radius small outline thick blue">View Cart</a>
                    <a href="#!/checkout" class="btn radius small blue">Checkout</a>
                </div>
			</span>

        </div>
    </header>
</div>

