<div class="slider-wrapper" ng-controller="HomeController">
	<div class="content-wrapper">
		<section id="home-slider">
			<div class="hero slider" hero>
				<ul>
					<li>
						<img src="design/images/slider/slide-1.jpg"/>
						<div class="content">
							<h2>Men's Eyewear 2015</h2>
							<a href="/eyewear/men-eyewear.html" class="btn blue radius">Shop All Men's Eyewear 2015</a>
						</div>
					</li>
					<li><img src="design/images/slider/slide-2.jpg"/></li>
				</ul>
			</div>
		</section>
	</div>
</div>
<div class="content-wrapper">
	<section id="breadcrumbs">
		<div class="breadcrumb">
			<span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb">
				<span class="breadcrumb-last" rel="v:url" property="v:title">Home</span>
			</span></span>
		</div>
	</section>
	<section id="home-eyewear" class="home-category-module">
		<div class="intro">
			<h2>Focali Eyewear</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
				tempor invidunt ut labore et dolore magna aliquyam</p>
		</div>
		<div class="eyewear-cover">
			<img class="circle" src="design/images/homepage/eyewear-main.jpg" width="364" height="361" alt="Focali Eyewear"/>
		</div>
		<div class="eyewear-gender">
			<h4>For Him</h4>
			<!--when injecting dynamic images, make sure that the object specifies the width and height when pushing the code-->
			<img src="design/images/homepage/glasses.jpg" width="362" height="226"/>
			<a href="/eyewear/men-eyewear.html" class="btn blue radius">Shop All Men's Eyewear</a>
		</div>
		<div class="eyewear-gender">
			<h4>For Her</h4>
			<img src="design/images/homepage/glasses.jpg" width="362" height="226"/>
			<a href="/eyewear/women-eyewear.html" class="btn blue radius">Shop All Women's Eyewear</a>
		</div>
	</section>
	<!--Sunglasses-->
	<hr/>
	<section id="home-sunglasses" class="home-category-module">
		<div class="intro">
			<h2>Focali Sunglasses</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
				tempor invidunt ut labore et dolore magna aliquyam</p>
		</div>
		<div class="eyewear-gender">
			<h4>For Him</h4>
			<!--when injecting dynamic images, make sure that the object specifies the width and height when pushing the code-->
			<img src="design/images/homepage/sunglasses.jpg" width="362" height="226"/>
			<a href="/sunglasses/men-sunglasses.html" class="btn blue radius">Shop All Men's Sunglasses</a>
		</div>
		<div class="eyewear-gender">
			<h4>For Her</h4>
			<img src="design/images/homepage/sunglasses.jpg" width="362" height="226"/>
			<a href="/sunglasses/women-sunglasses.html" class="btn blue radius">Shop All Women's Sunglassesr</a>
		</div>
		<div class="sunglasses-cover">
			<img class="circle" src="design/images/homepage/eyewear-main.jpg" width="364" height="361" alt="Focali Eyewear"/>
		</div>
	</section>
	<hr/>
	<section id="home-info-blocks">
		<div class="info-block" id="locations">
			<section class="inside">
				<div class="block-icon">
					<img src="design/images/homepage/map-pin.png"/>
				</div>
				<div class="block-content">
					<h4>Our Locations</h4>
					<p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					<a href="/locations.html">Learn More...</a>
				</div>
			</section>
		</div>
		<div class="info-block" id="about-us">
			<section class="inside">
				<div class="block-icon">
					<img src="design/images/homepage/about-icon.png"/>
				</div>
				<div class="block-content">
					<h4>About Us</h4>
					<p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					<a href="/about-us.html">Learn More...</a>
				</div>
			</section>
		</div>
		<div class="info-block" id="help">
			<section class="inside">
				<div class="block-icon">
					<img src="design/images/homepage/help-icon.png"/>
				</div>
				<div class="block-content">
					<h4>Help</h4>
					<p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					<a href="/help.html">Learn More...</a>
				</div>
			</section>
		</div>
	</section>
	<hr/>
	<section id="homepage-information">
		<div class="contact-data">
			<a href="mailto:orders@focali.com"><img src="design/images/homepage/email-icon.png"/> orders@focali.com</a>
			<a href="tel:+123 456 7890-00"><img src="design/images/homepage/phone-icon.png"/> +123 456 7890-00</a>
		</div>
		<div class="store-hours">
			Mon to Sat – 8am to 8pm
		</div>
	</section>
	<hr/>
</div>
