<div ng-controller="HomeController">


    <div class="slider-wrapper">
        <div class="hero slider">
            <ul>
                <li>
                    <img class="hero-image" ng-src="{{view.heroImage.file.url}}" />
                    <!-- <div class="content">
                                <h2 ng-bind-html="trustAsHtml(contentfulData.heroText)"></h2>
                                <a href="{{contentfulData.heroButtonUrl}}" class="btn blue radius">{{contentfulData.heroButtonText}}</a>
                            </div> -->
                </li>
                <!-- <li>
                          <img class="hero-image" ng-src="{{contentfulData.slide2.fields.file.url}}"/>
                            <div class="content">
                                <h2 ng-bind-html="trustAsHtml(contentfulData.slide2Text)"></h2>
                                <a href="{{contentfulData.slide2ButtonUrl}}" class="btn blue radius">{{contentfulData.slide2ButtonText}}</a>
                            </div>
                        </li> -->
            </ul>
        </div>
    </div>


    <div class="content-wrapper">
        <section id="breadcrumbs">
            <div class="breadcrumb">
                <span xmlns:v="http://rdf.data-vocabulary.org/#">
                  <span typeof="v:Breadcrumb">
				            <span class="breadcrumb-last" rel="v:url" property="v:title">Home</span>
                </span>
                </span>
            </div>
        </section>

        <div ng-repeat="collection in ::view.collections track by $index">
            <section id="home-eyewear" class="home-category-module">
                <div class="intro">
                    <h3>{{::collection.title}}</h3>
                    <p marked="::collection.description"></p>
                </div>
                <div class="clearfix"></div>
                <div class="eyewear-cover" ng-if="::collection.thumbnailPosition === 'left'">
                    <img class="circle" ng-src="{{::collection.thumbnail.file.url + '?w=300&h=300'}}" width="300" height="300" alt="Focali Eyewear" />
                </div>
                <div class="eyewear-gender" ng-repeat="button in ::collection.buttons track by $index">
                    <h4>{{::button.title}}</h4>
                    <!--when injecting dynamic images, make sure that the object specifies the width and height when pushing the code-->
                    <img src="{{::button.image.file.url + '?w=362&h=226'}}" width="362" height="226" />
                    <a href="{{::button.url}}" class="btn blue radius">
                        <span marked="::button.text"></span>
                    </a>
                </div>
                <div class="eyewear-cover" ng-if="::collection.thumbnailPosition === 'right'">
                    <img class="circle" ng-src="{{::collection.thumbnail.file.url + '?w=300&h=300'}}" width="300" height="300" alt="Focali Eyewear" />
                </div>
            </section>
            <hr />
        </div>

        <section id="home-info-blocks">
          <div class="info-block" ng-repeat="block in ::view.infoBlocks">
              <section class="inside">
                  <div class="block-icon">
                      <img ng-src="{{::block.image.file.url}}" />
                  </div>
                  <div class="block-content">
                      <h4>{{::(block.title || block.name)}}</h4>

                      <p marked="block.text"></p>
                      <a ng-href="{{::block.url}}">Learn More...</a>
                  </div>
              </section>
          </div>
        </section>
        <hr/>
        <section id="homepage-information">
            <div class="contact-data">
                <a ng-repeat="link in ::view.contactLinks" ng-href="{{link.url}}">
                  <img ng-src="{{link.image.file.url}}" /> {{::(link.title || link.name)}}
                </a>
            </div>
            <div class="store-hours" marked="view.storeHours"></div>
        </section>
        <hr/>
    </div>
</div>
