<div ng-controller="HomeController" ng-init="loadContent('home')">
    <div class="slider-wrapper">
        <div class="content-wrapper">
            <section id="home-slider">
                <div class="hero slider" hero>
                    <ul>
                        <li>
                            <img ng-src="{{contentfulData.slide1.fields.file.url}}"/>

                            <div class="content">
                                <h2>{{contentfulData.heroText}}</h2>
                                <a href="{{contentfulData.heroButtonUrl}}" class="btn blue radius">{{contentfulData.heroButtonText}}</a>
                            </div>
                        </li>
                        <li><img ng-src="{{contentfulData.slide2.fields.file.url}}"/></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="content-wrapper">
        <section id="breadcrumbs">
            <div class="breadcrumb">
			<span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb">
				<span class="breadcrumb-last" rel="v:url" property="v:title">Home</span>
			</span></span>
            </div>
        </section>
        <section id="home-eyewear" class="home-category-module">
            <div class="intro">
                <h2>{{contentfulData.eyewearTitle}}</h2>
                <p>{{contentfulData.eyewearDescription}}</p>
            </div>
            <div class="clearfix"></div>
            <div class="eyewear-cover">
                <img class="circle" ng-src="{{contentfulData.eyewearSideImage.fields.file.url}}" width="364" height="361" alt="Focali Eyewear"/>
            </div>
            <div class="eyewear-gender">
                <h4>For Him</h4>
                <!--when injecting dynamic images, make sure that the object specifies the width and height when pushing the code-->
                <img src="{{contentfulData.eyewearImage1.fields.file.url}}" width="362" height="226"/>
                <a href="{{contentfulData.eyewearHimButtonUrl}}" class="btn blue radius">{{contentfulData.eyewearHimButtonText}}</a>
            </div>
            <div class="eyewear-gender">
                <h4>For Her</h4>
                <img ng-src="{{contentfulData.eyewearImage2.fields.file.url}}" width="362" height="226"/>
                <a href="{{contentfulData.eyewearHerButtonUrl}}" class="btn blue radius">{{contentfulData.eyewearHerButtonText}}</a>
            </div>
        </section>
        <!--Sunglasses-->
        <hr/>
        <section id="home-sunglasses" class="home-category-module">
            <div class="intro">
                <h2>{{contentfulData.sunglassesTitle}}</h2>
                <p>{{contentfulData.sunglassesDescription}}</p>
            </div>
            <div class="clearfix"></div>
            <div class="eyewear-gender">
                <h4>For Him</h4>
                <!--when injecting dynamic images, make sure that the object specifies the width and height when pushing the code-->
                <img ng-src="{{contentfulData.sunglassesImage1.fields.file.url}}" width="362" height="226"/>
                <a href="{{contentfulData.sunglassesHimButtonUrl}}" class="btn blue radius">{{contentfulData.sunglassesHimButtonText}}</a>
            </div>
            <div class="eyewear-gender">
                <h4>For Her</h4>
                <img ng-src="{{contentfulData.sunglassesImage1.fields.file.url}}" width="362" height="226"/>
                <a href="{{contentfulData.sunglassesHerButtonUrl}}" class="btn blue radius">{{contentfulData.sunglassesHerButtonText}}</a>
            </div>
            <div class="sunglasses-cover">
                <img class="circle" src="{{contentfulData.eyewearSideImage.fields.file.url}}" width="364" height="361" alt="Focali Eyewear"/>
            </div>
        </section>
        <hr/>
        <section id="home-info-blocks">
            <div class="info-block" id="locations">
                <section class="inside">
                    <div class="block-icon">
                        <img src="design/images/homepage/map-pin.png"/>
                    </div>
                    <div class="block-content">
                        <h4>Our Locations</h4>

                        <p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <a href="/#!/locations">Learn More...</a>
                    </div>
                </section>
            </div>
            <div class="info-block" id="about-us">
                <section class="inside">
                    <div class="block-icon">
                        <img src="design/images/homepage/about-icon.png"/>
                    </div>
                    <div class="block-content">
                        <h4>About Us</h4>

                        <p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <a href="/about-us">Learn More...</a>
                    </div>
                </section>
            </div>
            <div class="info-block" id="help">
                <section class="inside">
                    <div class="block-icon">
                        <img src="design/images/homepage/help-icon.png"/>
                    </div>
                    <div class="block-content">
                        <h4>Help</h4>

                        <p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <a href="/help">Learn More...</a>
                    </div>
                </section>
            </div>
        </section>
        <hr/>
        <section id="homepage-information">
            <div class="contact-data">
                <a href="mailto:orders@focali.com"><img src="design/images/homepage/email-icon.png"/> {{contentfulData.orderEmail}}</a>
                <a href="tel:+123 456 7890-00"><img src="design/images/homepage/phone-icon.png"/> {{contentfulData.orderPhone}}</a>
            </div>
            <div class="store-hours">
                {{contentfulData.workTime}}
            </div>
        </section>
        <hr/>
    </div>
</div>
