<div ng-controller="HomeController" ng-init="loadContent('summer', gender)" id="wrapper">
    <div class="slider-wrapper">
        <div class="content-wrapper">
            <section id="subpage-head">
                <div class="subpage-hero">
                    <h1 class="subpage-title" data-ng-bind="contentfulData.name"></h1>
                    <!--<img src="design/images/slider/slide-1.jpg"/>-->

                    <img ng-src="{{contentfulData.mainImage.fields.file.url}}" alt="{{contentfulData.mainImage.fields.title}}"/>
                </div>
            </section>
        </div>
    </div>
    <div class="content-wrapper">
        <section id="breadcrumbs">
            <div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> / 
				<span class="breadcrumb-last" rel="v:url" property="v:title">{{contentfulData.name}}</span>
			</span></span>
            </div>
        </section>
        <section id="eyewear" class="page">
            <div class="sub-page-intro-text full">
                <h1 class="page-title" data-ng-bind="contentfulData.sunglassesTitle"></h1>

                <p data-ng-bind="contentfulData.sunglassesDescription"></p>

            </div>
        </section>
        <section class="products" id="big">
            <product-thumbnail product="product" data-ng-repeat="product in contentfulData.sunglassesProducts track by product.id"></product-thumbnail>
            <!--explicarle al mati por qué uso un <p> acá para hacer un clearfix-->
            <p class="center">
                <a class="btn blue radius"  ng-href="/#!/categories/{{gender}}/sunglasses">Shop All Sunglasses Newcomers</a>
            </p>
        </section>
        <hr/>
        <section id="eyewear" class="page">
            <div class="sub-page-intro-text full">
                <h1 class="page-title" data-ng-bind="contentfulData.eyewearTitle"></h1>

                <p data-ng-bind="contentfulData.eyewearDescription"></p>

            </div>
        </section>
        <section class="products" id="big">
            <product-thumbnail product="product" data-ng-repeat="product in contentfulData.eyewearProducts track by product.id"></product-thumbnail>
            <p class="center">
                <a class="btn blue radius" ng-href="/#!/categories/{{gender}}/eyewear">Shop All Eyewear Newcomers</a>
            </p>
        </section>

    </div>
</div>
