<span ng-controller="AboutUsController"  ng-init="loadContent()">
<div class="slider-wrapper">
		<section id="subpage-head">
			<div class="subpage-hero">
				<h1 class="subpage-title" ng-bind-html="trustAsHtml(contentfulData.imageTitle)"></h1>
				<img src="{{contentfulData.mainImage.fields.file.url}}" />
			</div>
		</section>
</div>
<hr class="nav-divider"/>
<br>
<div class="content-wrapper">
	<section id="breadcrumbs">
		<div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">About Us</span>
			</span></span>
		</div>
	</section>
	<section class="page">
		<div class="content about-us">
			<h1 class="page-title" ng-bind-html="trustAsHtml(contentfulData.title)"></h1>
			<p ng-bind-html="trustAsHtml(contentfulData.description)"></p>
		</div>
		<hr/>
	</section>
</div>
</span>
