<div class="slider-wrapper">
	<div class="content-wrapper">
		<section id="subpage-head">
			<div class="subpage-hero">
				<h1 class="subpage-title">About Us</h1>
				<img src="design/images/eyewear/eyewear-hero.jpg"/>
			</div>
		</section>
	</div>
</div>
<hr class="nav-divider"/>
<div class="content-wrapper">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">About Us</span>
			</span></span>
		</div>
	</section>
	<section class="page">
		<div class="content about-us">
			<h1 class="page-title">Mission Statement</h1>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
		<hr/>
		<section class="team">
			<div class="team-member">
				<img class="portrait" src="design/images/eyewear/men-thumbnail.jpg"/>
				<h5>John Lowery</h5>
				<span class="sub-title">CEO</span>
				<img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a><br/>
				<div class="social-networks">
					<a id="fb" class="social-icon" href="http://www.linkedin.com"><i class="icon-linkedin-circled"></i></a>
					<a id="li" class="social-icon" href="http://www.linkedin.com"><i class="icon-facebook-circled"></i></a>
					<a id="gp" class="social-icon" href="http://www.linkedin.com"><i class="icon-gplus-circled"></i></a>
					<a id="tw" class="social-icon" href="http://www.linkedin.com"><i class="icon-twitter-circled"></i></a>
				</div>
				
			</div>
			<div class="team-member">
				<img class="portrait" src="design/images/eyewear/men-thumbnail.jpg"/>
				<h5>John Lowery</h5>
				<span class="sub-title">CEO</span>
				<img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a><br/>
				<div class="social-networks">
					<a id="fb" class="social-icon" href="http://www.linkedin.com"><i class="icon-linkedin-circled"></i></a>
					<a id="li" class="social-icon" href="http://www.linkedin.com"><i class="icon-facebook-circled"></i></a>
					<a id="gp" class="social-icon" href="http://www.linkedin.com"><i class="icon-gplus-circled"></i></a>
					<a id="tw" class="social-icon" href="http://www.linkedin.com"><i class="icon-twitter-circled"></i></a>
				</div>
				
			</div>
			<div class="team-member">
				<img class="portrait" src="design/images/eyewear/men-thumbnail.jpg"/>
				<h5>John Lowery</h5>
				<span class="sub-title">CEO</span>
				<img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a><br/>
				<div class="social-networks">
					<a id="in" class="social-icon" href="http://www.linkedin.com"><i class="icon-linkedin-circled"></i></a>
					<a id="fb" class="social-icon" href="http://www.linkedin.com"><i class="icon-facebook-circled"></i></a>
					<a id="gp" class="social-icon" href="http://www.linkedin.com"><i class="icon-gplus-circled"></i></a>
					<a id="tw" class="social-icon" href="http://www.linkedin.com"><i class="icon-twitter-circled"></i></a>
				</div>
				
			</div>
		</section>
	</section>
</div>
