<hr class="nav-divider"/>
<div class="content-wrapper">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /  
				<span class="breadcrumb-last" rel="v:url" property="v:title">Help</span>
			</span></span>
		</div>
	</section>
	<section class="page" id="help">
		<div class="content help">
			<h1 class="page-title">Help and Support</h1>
			<section id="home-info-blocks">
				<div class="info-block" id="help">
					<section class="inside">
						<div class="help-block-icon">
							<img class="help-icon" src="design/images/homepage/help-icon.png"/>
						</div>
						<div class="help-block-content">
							<h3>24/H SUPPORT</h3>
							<p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</section>
				</div>
				<div class="info-block" id="help">
					<section class="inside">
						<div class="help-block-icon">
							<img class="help-icon" src="design/images/help/contact-us-icon.png"/>
						</div>
						<div class="help-block-content">
							<h3>Contact Us</h3>
							<p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</section>
				</div>
				<div class="info-block" id="help">
					<section class="inside">
						<div class="help-block-icon">
							<img class="help-icon" src="design/images/help/clock-icon.png"/>
						</div>
						<div class="help-block-content">
							<h3>We Call You Back</h3>
							<p>Lorem ipsum dolor amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</section>
				</div>
			</section>		
		</div>
	</section>
	<hr class="no-margin"/>
	<section id="homepage-information">
		<div class="contact-data">
		<a href="mailto:orders@focali.com"><img src="design/images/homepage/email-icon.png"/> orders@focali.com</a>
		<a href="tel:+123 456 7890-00"><img src="design/images/homepage/phone-icon.png"/> +123 456 7890-00</a>
		</div>
		<div class="store-hours">
		Mon to Sat – 8am to 8pm
		</div>
	</section>
	<hr class="no-margin"/>
	<section class="faqs">
		<div class="panels">
			<div class="ex-panel active">
				<h4><a class="panel-trigger" href="#" id="orders">Orders</a></h4>
				<div class="panel-content">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				</div>
			</div>
			<div class="ex-panel">
				<h4><a class="panel-trigger" href="#" id="orders">Retail</a></h4>
				<div class="panel-content">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				</div>
			</div>
			<div class="ex-panel">
				<h4><a class="panel-trigger" href="#" id="orders">Prescriptions</a></h4>
				<div class="panel-content">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				</div>
			</div>
			<div class="ex-panel">
				<h4><a class="panel-trigger" href="#" id="orders">Insurance, Payment and Gift Cards</a></h4>
				<div class="panel-content">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				</div>
			</div>
			<div class="ex-panel">
				<h4><a class="panel-trigger" href="#" id="orders">Shipping, Returns and Exchanges</a></h4>
				<div class="panel-content">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				</div>
			</div>
		</div>
	</section>
	<hr/>
	<section id="contact">
		<div class="contact-form">
			<h4>Drop Us A Line <span class="sub-title pull-right">required fields *</span></h4>
			<form action="#" id="contact" name="contact">
				<label>Full Name*</label>
				<input required type="text" name="full-name" id="full-name" placeholder="Full Name">
				<label>Email*</label>
				<input required type="email" name="email" id="email" placeholder="Your Email">
				<label>Your Message *</label>
				<textarea required name="message" id="message"></textarea>
				<input type="submit" class="btn blue radius"name="submit" value="Send Message" height="300" placeholder="Your Message" />
			</form>
		</div>
	</section>
	
</div>
