<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="LocationsController">
    <section id="breadcrumbs">
        <div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Locations</span>
			</span></span>
        </div>
    </section>
    <section class="page">
        <div class="content locations-page">
            <h1 class="page-title">Our Locations</h1>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11989308.386202984!2d-96.53181252499999!3d42.80785373333131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f60d0da4da15%3A0x942a359e1828feee!2sLenox+Ave%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2s!4v1433180428113"
                        width="100%" height="400" scrolling="false" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </section>
    <section id="locations-list">
        <div class="locations">
            <div class="location">
                <h6>Headquarters</h6>
                4120 LENOX AVENUE<br/>
                NEW YORK, NY<br/>
                <img src="design/images/homepage/phone-icon.png"><a href="tel:3454354353"> +48 543765234</a><br/>
                <img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a>
            </div>
            <div class="location">
                <h6>Columbus</h6>
                4120 LENOX AVENUE<br/>
                NEW YORK, NY<br/>
                <img src="design/images/homepage/phone-icon.png"><a href="tel:3454354353"> +48 543765234</a><br/>
                <img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a>
            </div>
            <div class="location">
                <h6>Los Angeles</h6>
                4120 LENOX AVENUE<br/>
                NEW YORK, NY<br/>
                <img src="design/images/homepage/phone-icon.png"><a href="tel:3454354353"> +48 543765234</a><br/>
                <img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a>
            </div>
            <div class="location">
                <h6>Miami</h6>
                4120 LENOX AVENUE<br/>
                NEW YORK, NY<br/>
                <img src="design/images/homepage/phone-icon.png"><a href="tel:3454354353"> +48 543765234</a><br/>
                <img src="design/images/homepage/email-icon.png"><a href="mailto:info@focali.com"> info@focali.com</a>
            </div>
        </div>
    </section>
    <hr/>
    <section id="contact" ng-controller="ContactusController">
        <!-- TODO: Move ng-invalid styling to css -->
        <style>
            input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
                border: 1px solid red !important;
            }
        </style>
        <div class="contact-form">
            <h4>Drop Us A Line <span class="sub-title pull-right">required fields *</span></h4>

            <form data-ng-submit="contactUsSubmit(contactForm.$valid)" id="contactForm" name="contactForm" novalidate>
                <label>Full Name*</label>
                <input required type="text" name="full-name" id="full-name" placeholder="Full Name" ng-model="contactUs.name" required>
                <label>Email*</label>
                <input required type="email" name="email" id="email" placeholder="Your Email" ng-model="contactUs.email" required>
                <label>Your Message *</label>
                <textarea required name="message" id="message" ng-model="contactUs.message" placeholder="Your Message"></textarea>
            
                <div data-ng-show="contactError" class="text-center text-danger">
                    <div class="notice outline red small" data-ng-bind="contactError"></div>
                </div>
                <div data-ng-show="contactSuccess" class="text-center text-danger">
                    <div class="notice outline green small" data-ng-bind="contactSuccess"></div>
                </div>

                <input type="submit" class="btn blue radius" name="submit" value="Send Message" height="300" />
            </form>
        </div>
    </section>
</div>
