<span ng-controller="PrivacyController"  ng-init="loadContent()">
<hr class="nav-divider"/>
<div class="content-wrapper">
    <section id="breadcrumbs">
        <div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Privacy</span>
			</span></span>
        </div>
    </section>
    <section class="page">
        <div class="content about-us">
            <h1 class="page-title"  ng-bind-html="trustAsHtml(contentfulData.title)"></h1>
            <p ng-bind-html="trustAsHtml(contentfulData.description)"></p>
        </div>
        <hr/>
    </section>
</div>
</span>
