<div class="eyewear panel" id="men">
	<div class="description">
		<h2>The All New Men's Enditatem</h2>
		<span class="no-stock-notice">Out Of Stock</span>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price large">$49.99</span>
			</ins>
		</span>
		<p>Lorem ipsum dolor sit amet, consectetur Hadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<a href="#!/product-detail/1" class="btn blue radius thick">SHOP NOW</a>  <a href="#!/men-eyewear" class="btn blue outline radius thick">Shop All Men's Eyewear</a>
	</div>
	<div class="section-cover">
		<img src="design/images/eyewear/product-image.jpg"/>
	</div>
</div>
