<div class="eyewear panel" id="women">
	<div class="description">
		<h2>Women Finest</h2>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price large">$49.99</span>
			</ins>
		</span>
		<p>Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum.</p>
		<a href="#!/product-detail/1" class="btn blue radius thick">SHOP NOW</a>  <a href="#!/product-detail/1" class="btn blue outline radius thick">Shop All Women's Eyewear</a>
	</div>
	<div class="section-cover">
		<img src="design/images/eyewear/product-image.jpg"/>
	</div>
</div>
