<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="OrdersController" ng-init="findOne()">
    <section id="breadcrumbs">
        <div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Order Placed</span>
			</span></span>
        </div>
    </section>
    <section class="page">
        <div class="content">
            <h1 class="page-title">Thank you for your order</h1>
            <b>Order Number</b><span class="badge radius outline tblue xsmall">{{order.orderNumber}}</span> <span
                class="badge radius outline yellow xsmall">{{order.orderState}}</span>
            <span ng-if="order.paymentState == 'Paid'" class="badge radius outline green xsmall">Paid</span>
            <hr/>
            <section class="placed-order">
                <div class="checkout-totals" id="billing">
                    <h6>Payment Information</h6>
                    <b>{{paymentInfo}}</b>

                </div>
                <div class="checkout-totals" id="shipping">
                    <h6>Shipping Information</h6>
                    <b>{{order.shippingAddress.firstName}} {{order.shippingAddress.lastName}}</b><br/>
                    {{order.shippingAddress.streetName}} {{order.shippingAddress.additionalStreetInfo}} {{order.shippingAddress.city}} {{order.shippingAddress.country}}<br/>
                    {{order.shippingAddress.phone}}
                    <hr/>
                    <p>
                        <b>Shipping Carrier:</b> {{order.shippingInfo.shippingMethodName}} <br/>
                        <b>Shipping Cost:</b> {{order.shippingInfo.price | spherePrice}} <br/>
                        <b>Arrives:</b> 6-10 Days
                    </p>
                </div>
                <div class="checkout-totals" id="order-total">
                    <h6>Totals</h6>
                    <table id="final-totals">
                        <tbody>
                        <tr>
                            <td>Sub Total</td>
                            <td>{{order.totalPrice | spherePrice}}</td>
                        </tr>
                         <tr>
                            <td>Taxes</td>
                            <td ng-repeat="taxPortion in order.taxedPrice.taxPortions">
                                {{taxPortion.amount | spherePrice}}
                            </td>
                        </tr>
                        <tr>
                            <td><h6>Order Total</h6></td>
                            <td><h6>{{order.taxedPrice.totalGross | spherePrice}}</h6></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </section>
</div>
