<hr class="nav-divider"/>
<div class="content-wrapper" data-ng-controller="ProfileController">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<a class="bc-link" rel="v:url" property="v:title" href="#!/account">My Account</a> /
				<a class="bc-link" rel="v:url" property="v:title" href="/account/my-addresses.html">My Addresses</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Edit Address</span>
			</span></span>
		</div>
	</section>
	<section class="page" id="my-account">
		<div class="content my-account">
			<h1 class="page-title">My Addresses</h1>
			<a href="#!/my-addresses" class="btn tblue xsmall outline radius">&larr; Back to Your Saved Addresses</a>
			<hr/>
			<h3>Edit Address</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			
			<div data-ng-show="error" class="text-center text-danger">
            	<div class="notice outline red small" data-ng-bind="error"></div>
          	</div>
			<form id="editAddressform" name="editAddressform" ng-init="editAddress = fetchOwnAddressPerId()" data-ng-submit="updateCustomerAddress(editAddressform)" novalidate>
				<div class="form-field">
					<label for="country">Country*</label>
					<select name="country" id="country" data-ng-model="editAddress.country" required>
						<option disabled selected value="">Please choose a country</option>
						<option value="US">United States</option>
					</select>
				</div>
				<br />
				<div class="form-field-half">
					<label for="firstName">First Name*</label>
					<input type="text" id="firstName" name="firstName" placeholder="First Name" data-ng-model="editAddress.firstName" required />
				</div>
				<div class="form-field-half">
					<label for="lastName">Last Name*</label>
					<input type="text" id="lastName" name="lastName" placeholder="Last Name" data-ng-model="editAddress.lastName" required/>
				</div> 
				<br />
				<div class="form-field">
					<label for="company">Company</label>
					<input type="text" id="company" name="company" placeholder="Company" data-ng-model="editAddress.company" />
				</div> 
				<div class="form-field-half">
					<label for="streetName">Street Name*</label>
					<input type="text" id="streetName" name="streetName" data-ng-model="editAddress.streetName" placeholder="Street Name" required />
				</div>
				<div class="form-field-half">
					<label for="streetNumber">Street Number*</label>
					<input type="text" id="streetNumber" name="streetNumber" data-ng-model="editAddress.streetNumber" placeholder="Street Number" required />
				</div>
				<div class="form-field">
					<label for="city">City*</label>
					<input type="text" id="city" name="city" placeholder="City" data-ng-model="editAddress.city" required />				
				</div>
				<br />
				<div class="form-field-half">
					<label for="state">State/Province*</label>
					<select id="state" name="state" data-ng-model="editAddress.state"   required placeholder="State/Province"  placeholder="State/Province">
						<option ng-selected="{{editAddress.state == ds.code}}" ng-repeat="ds in dataStates['US']" value="{{ds.code}}">{{ds.name}}</option>
					</select>
				</div>
				<div class="form-field-half">
					<label for="postalCode">Zip/Postal*</label>
					<input type="text" name="postalCode" id="postalCode" placeholder="ZIP/Postal" data-ng-model="editAddress.postalCode" required />
				</div>
				<div class="form-field-half">
					<label for="phone">Phone*</label>
					<input type="text" id="phone" name="phone" data-ng-model="editAddress.phone" placeholder="Phone #" />
				</div>
				<div data-ng-show="addAddressError" class="text-center text-danger">
                	<div class="notice outline red small" data-ng-bind="addAddressError"></div>
              	</div>
              	<br />
				<div data-ng-show="updateAddressError" class="text-center text-danger">
        	<div class="notice outline red small" data-ng-bind="updateAddressError"></div>
      	</div>
      	<div data-ng-show="updateAddressSuccess" class="text-center text-danger">
        	<div class="notice outline green small" data-ng-bind="updateAddressSuccess"></div>
      	</div>
				<input type="submit" class="btn blue radius" value="Save Address"/>
				<a href="#!/my-addresses" class="btn outline radius red thick">Cancel</a>
			</form>
		</div>

	</section>
</div>
