<div class="content-wrapper" data-ng-controller="ProfileController">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /  
				<a class="bc-link" rel="v:url" property="v:title" href="/account.html">My Account</a> / 
				<span class="breadcrumb-last" rel="v:url" property="v:title">My Addresses</span>
			</span></span>
		</div>
	</section>
	<section class="page" id="my-account">
		<div class="content my-account">
			<h1 class="page-title">My Addresses</h1>
			<a href="#!/account" class="btn tblue xsmall outline radius">&larr; Back to My Account</a>
			<hr/>
			<h3>Saved Addresses</h3>
          	<div data-ng-show="getUpdateStatus().message" class="text-center">
            	<div class="notice outline green small" data-ng-bind="getUpdateStatus().message"></div>
          	</div>
          	<div data-ng-show="addAddressSuccess" class="text-center text-danger">
            	<div class="notice outline green small" data-ng-bind="addAddressSuccess"></div>
          	</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			
			<table id="user-addressses">
				<thead>
					<th class="address">Address</th>
					<th class="customer-name">Name</th>
					<th class="customer-phone">Phone</th>
					<th class="actions">Actions</th>
				</thead>
				<tbody>
					<tr class="saved-address" ng-repeat="address in customer.addresses track by address.id">
						<td>
							{{address.streetNumber}} {{address.streetName}}e<br/>
							{{address.postalCode}}, {{address.city}}, {{address.state}}<br/>
						</td>
						<td>
							{{address.firstName}} {{address.lastName}}
						</td>
						<td>
							{{address.phone}}
						</td>
						<td>
						<a ng-click="editAddress(address)" class="edit-item"></a><a  ng-click="deleteAddress(address)" class="remove-from-list"></a>
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<h3>Add A New Address</h3>
			<!-- TODO: Move ng-invalid styling to css -->
			<style>
				input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty{
					border: 1px solid red !important;
				}
			</style>
			<form id="addAddressform" ng-init="defaultAddress()" name="addAddressform" data-ng-submit="addCustomerAddress(addAddressform)" novalidate>
				<div class="form-field">
					<label for="country">Country*</label>
					<select name="country" id="country" data-ng-model="newAddress.country" required>
						<option disabled selected value="">Please choose a country</option>
						<option value="US">United States</option>
						<option value="CA">Canada</option>
						<option value="GB">United Kingdom</option>
					</select>
				</div>
				<br />
				<div class="form-field-half">
					<label for="firstName">First Name*</label>
					<input type="text" id="firstName" name="firstName" placeholder="First Name" data-ng-model="newAddress.firstName" required />
				</div>
				<div class="form-field-half">
					<label for="lastName">Last Name*</label>
					<input type="text" id="lastName" name="lastName" placeholder="Last Name" data-ng-model="newAddress.lastName" required/>
				</div> 
				<br />
				<div class="form-field">
					<label for="company">Company</label>
					<input type="text" id="company" name="company" placeholder="Company" data-ng-model="newAddress.company" />
				</div> 
				<div class="form-field-half">
					<label for="streetName">Street Name*</label>
					<input type="text" id="streetName" name="streetName" data-ng-model="newAddress.streetName" placeholder="Street Name" required />
				</div>
				<div class="form-field-half">
					<label for="streetNumber">Street Number*</label>
					<input type="text" id="streetNumber" name="streetNumber" data-ng-model="newAddress.streetNumber" placeholder="Street Number" required />
				</div>
				<div class="form-field">
					<label for="city">City*</label>
					<input type="text" id="city" name="city" placeholder="City" data-ng-model="newAddress.city" required />				
				</div>
				<br />
				<div class="form-field-half">
					<label for="state">State/Province*</label>
					<input type="text" name="state" id="state" placeholder="State/Province" data-ng-model="newAddress.state" required />
				</div>
				<div class="form-field-half">
					<label for="postalCode">Zip/Postal*</label>
					<input type="text" name="postalCode" id="postalCode" placeholder="ZIP/Postal" data-ng-model="newAddress.postalCode" required />
				</div>
				<div class="form-field-half">
					<label for="phone">Phone*</label>
					<input type="text" id="phone" name="phone" data-ng-model="newAddress.phone" placeholder="Phone #" />
				</div>
				<div data-ng-show="addAddressError" class="text-center text-danger">
                	<div class="notice outline red small" data-ng-bind="addAddressError"></div>
              	</div>
              	<br />
				<input type="submit" class="btn blue radius" value="Save Address"/>
			</form>
		</div>

		<div ng-include="'modules/carts/views/side-cart.client.view.html'"></div>
	</section>
</div>
