<hr class="nav-divider"/>
<div class="content-wrapper" data-ng-controller="ProfileController">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<a class="bc-link" rel="v:url" property="v:title" href="#!/account">My Account</a> / 
				<span class="breadcrumb-last" rel="v:url" property="v:title">My Orders</span>
			</span></span>
		</div>
	</section>
	<section class="page" id="my-orders" ng-init="fetchOrders()">
		<div class="user-orders">
		<h1 class="page-title">My Orders</h1>
		
			<table class="past-orders" data-toggle="table">
			<thead>
				<th id="order-id" data-field="orderNumber" data-sortable="true">
					Order Number
				</th>
				<th id="order-items">
					# of Items
				</th>
				<th id="order-total-price" data-field="price" data-sortable="true">
					Total Price
				</th>
				<th id="order-date" data-field="date" data-sortable="true">
					Order Date
				</th>
				<th id="order-status" data-field="status" data-sortable="true">
					Order Status
				</th>
			</thead>
			<tbody>
				<tr class="order" ng-repeat="order in orders track by order.id">
					<td class="order-id">
						<a ng-href="#!/orders/{{order.id}}">{{order.orderNumber}}</a>
					</td>
					<td class="order-items">
						{{order.lineItems | totalItems}}
					</td>					
					<td class="order-total-price">
						{{order.totalPrice | spherePrice }}
					</td>
					<td class="order-date">
						{{order.createdAt | sphereDate | localeDate}}
					</td>
					<td class="order-status">
						<span class="badge small radius" ng-class="order.orderState | statusColor">{{order.orderState}}<span>
					</td>
				</tr>
			</tbody>
			</table>
			<br/>
			<a href="#!/account" class="btn tblue xsmall outline radius">&larr; Back to My Account</a>
		</div>
	</section>
</div>
