<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="ProfileController">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Account:Personal Details</span>
			</span></span>
		</div>
	</section>
	<section class="page" id="my-account">
		<div class="content my-account">
			<h1 class="page-title">My Account</h1>
			<ul class="navigation">
				<li><span class="current">My Personal Details</span></li>
				<li><a href="#!/my-addresses">My Addresses</a></li>
				<li><a href="#!/my-orders">My Orders</a></li>
			</ul>
			<hr/>
			<h3>Personal Details</h3><br/>
			<form name="customerForm" id="change-details" data-ng-submit="updateCustomerProfile(true)" >
				<div class="form-field-half">
					<label for="firstName">First Name*</label>
					<input required type="text" class="half" id="firstName" data-ng-model="customer.firstName" placeholder="First Name"/>
				</div>
				<div class="form-field-half">
					<label>Last Name*</label>
					<input required type="text" class="half" id="lastName" name="lastName" data-ng-model="customer.lastName" placeholder="Last Name"/>
				</div>
				<div class="form-field-half">
					<label>Email*</label>
					<input required type="email" class="half" id="email" name="email" data-ng-model="customer.email"  placeholder="Email"/>
				</div>
				<br />
				<input type="submit" class="btn outline thick blue radius" value="Save Changes"/>
			</form>


			<span class="sub-title">Change Password</span>
			<p>If you're changing other data and you don't want to change your password leave these fields blank</p>
			<hr/>
			<form id="password-change" data-ng-submit="changeCustomerPassword(true)" name="password-change">
				<div class="form-field-half">
					<label>Current Password</label>
					<input type="password" class="user-password" id="oldPassword" name="oldPassword" data-ng-model="password.oldPassword" placeholder="Enter Your Password"/>
				</div><br />
				<div class="form-field-half">
					<label>New Password</label>
					<input type="password" id="newPassword" name="newPassword" data-ng-model="password.newPassword" placeholder="Enter Your New Password" />
				</div>
				<div class="form-field-half">
					<label>Repeat New Password</label>
					<input type="password" id="repeatPassword" name="repeatPassword" data-ng-model="password.repeatPassword" placeholder="Re-enter Your New Password" />
				</div>
				<input type="submit" class="btn outline thick blue radius" value="Change password"/>
			</form>
			<br/>


			<span class="sub-title">Email Preferences</span>
			<hr/>
			<label class="opt-in" >
			<input type="checkbox" name="newsletter" ng-model="newsletterSubscription" ng-init="fetchSubscription('newsletter')" ng-click="updateSubscription('newsletter')" /> Sign up for our newsletter
			</label>
			<label class="opt-in">
			<input type="checkbox" name="offers" ng-model="offersSubscription" ng-init="fetchSubscription('offers')" ng-click="updateSubscription('offers')" /> Receive special offers to your inbox
			</label>
			<div data-ng-show="error" class="notice outline red small">
				<p data-ng-bind="error"></p>
			</div>
			<div data-ng-show="success" class="notice outline tblue small">
				<p data-ng-bind="success"></p>
			</div>
				
		</div>

	</section>
</div>
