<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="AuthenticationController">
  <section id="breadcrumbs">
    <div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Login</span>
			</span></span>
    </div>
  </section>
  <section class="page">
    <div class="content login-register">
      <h1 class="page-title">Login / Register</h1>
      <section class="inner">
        <form data-ng-submit="signin()" class="signin form-horizontal" ng-hide="resetPasswordForm">
          <div class="login">
            <form action="#!/account" class="site-login" method="post">
              <span class="sub-title">Login</span>
              <label>Email</label>
              <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Please Enter Your Email" tabindex=1>
              <label>Password</label>
              <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Please Enter Your Password" tabindex=2>
              <a class="forgot" ng-click="resetPasswordForm = true;">Forgot Password?</a>
              <label>
                <input type="checkbox" class="rememberme" data-ng-model="credentials.rememberme"/> Remember Me
              </label>
              <input type="submit" class="btn radius blue" value="Login">
            </form>
          </div>
        </form>
        <form data-ng-submit="requestPasswordReset()" class="signin form-horizontal" ng-show="resetPasswordForm">
          <div class="login">
            <form action="#!/account" class="site-login" method="post">
              <span class="sub-title">Forgot Password?</span>
              <label>Please enter your email to reset password</label>
              <input type="email" id="email" name="email" class="form-control" data-ng-model="reset.email" placeholder="Please Enter Your Email" tabindex=1>
              <br/>
              <div data-ng-show="reset_result" class="text-center text-danger">
                <div class="notice outline small" ng-class="reset_result.status == 'success' ? 'green' : 'red'" data-ng-bind="reset_result.message"></div>
              </div>
              <span ng-hide="reset_result.status == 'success'">
                <input type="submit" class="btn radius blue" value="Send">
                <button type='button' ng-click="resetPasswordForm = false" class="btn outline radius red thick">Cancel</button>
              </span>
              <span ng-show="reset_result.status == 'success'">
                <button type='button' ng-click="resetPasswordForm = false" class="btn outline radius blue thick">Back</button>
              </span>

            </form>
          </div>
        </form>
        <div class="register">
          <span class="sub-title">Please Register</span>
          <form name="userForm" data-ng-submit="register()" class="user-registration" method="POST" autocomplete="off">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="register.firstName" placeholder="Please Enter Your First Name" required>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="register.lastName" placeholder="Please Enter Your Last Name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" data-ng-model="register.email" placeholder="Please Enter Your Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="register.password" placeholder="Please Enter Your Password" required>

            <label>
              <input required type="checkbox" class="rememberme"/> I HAVE READ AND I'M AGREE WITH THE <a href="/terms-and-conditions.html">TERMS AND CONDITIONS</a>
            </label>
            <br/>
              <div data-ng-show="register_error" class="text-center text-danger">
                <div class="notice outline red small" data-ng-bind="register_error"></div>
              </div>
            <input type="submit" class="btn radius blue" value="Register">
          </form>

        </div>
      </section>
    </div>
  </section>
</div>
