<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="PasswordController">
  <section id="breadcrumbs">
    <div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Reset Password</span>
			</span></span>
    </div>
  </section>
  <section class="page">
    <div class="content reset-password">
      <h1 class="page-title">Reset Password</h1>
      <section class="inner">
        <form data-ng-submit="resetPassword()" class="signin form-horizontal">
          <div class="reset-passsword form-field-half">
            <span ng-hide="reset_result.status == 'success'">
              <span class="sub-title">Enter your new password</span>
              <label for="password">New Password</label>
              <input type="password" id="password" name="password" class="form-control" data-ng-model="reset.password" placeholder="Please Enter Your New Password" required>

              <label for="repeatPassword">Re-enter Password</label>
              <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" data-ng-model="reset.repeatPassword" placeholder="Please Repeat Password" required>
            </span>

            <div data-ng-show="reset_result" class="text-center text-danger">
              <div class="notice outline small" ng-class="reset_result.status == 'success' ? 'green' : 'red'" data-ng-bind="reset_result.message"></div>
            </div>

            <span ng-hide="reset_result.status == 'success'">
              <input type="submit" class="btn radius blue" value="Send">
              <button type='button' ng-click="cancel()" class="btn outline radius red thick">Cancel</button>
            </span>
            <span ng-show="reset_result.status == 'success'">
              <button type='button' ng-click="goToLogin()" class="btn outline radius blue thick">Go to login</button>
            </span>
          </div>
        </form>
      </section>
    </div>
  </section>
</div>
