<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="CartController">
    <section id="breadcrumbs">
        <div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Cart</span>
			</span></span>
        </div>
    </section>
    <section id="cart">
        <div class="cart-alerts not-showing"></div>
        <div id="cart-contents">
            <h1 class="page-title">Your Shopping Cart</h1>
            <table id="cart">
                <thead>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th class="remove"></th>
                </thead>
                <tbody>
                <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product-row">
                    <td class="product-image">
                        <img ng-src="{{lineItem.variant.images[0].url}}"/>
                        <span class="product-name">{{lineItem.name.en}}</span>
                    </td>
                    <td class="product-price">
                        {{lineItem.price.value.currencyCode}} {{lineItem.price.value.centAmount / 100}}
                    </td>
                    <td class="edit-quantity">
                        <button ng-click="decreaseLineItemQuantity(lineItem)" class="op" id="minus">&#45;</button>
                        <input type="text" id="item-amount" ng-model="lineItem.quantity" value="{{lineItem.quantity}}">
                        <button ng-click="increaseLineItemQuantity(lineItem)" class="op" id="more">&#43;</button>
                    </td>
                    <td class="item-total">
                        <div class="item-cart-price">
                            {{lineItem.price.value.currencyCode}} {{lineItem.price.value.centAmount * lineItem.quantity / 100}}
                        </div>
                    </td>
                    <td class="remove-item">
                        <a ng-click="removeFromCart(lineItem)" href="" class="remove-from-cart"></a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div id="cart-totals">
            <h3>Cart Totals</h3>
            <hr/>
            <table id="subtotals">
                <tr class="subtotal">
                    <td class="concept">
                        Subtotal
                    </td>
                    <td id="sub-amount" class="amount">
                        {{cart.totalPrice.currencyCode}} {{cart.totalPrice.centAmount / 100}}
                    </td>
                </tr>
                <tr class="shipping">
                    <td class="concept">
                        Shipping
                    </td>
                    <td id="shipping-cost" class="amount">
                        free
                    </td>
                </tr>
                <tr id="final-order-price">
                    <td class="concept">
                        <b>Order Total</b>
                    </td>
                    <td id="price-total" class="amount">
                        {{cart.totalPrice.currencyCode}} {{cart.totalPrice.centAmount / 100}}
                    </td>
                </tr>
            </table>
            <a href="#!/checkout" class="btn block radius blue">Proceed To Checkout</a>

            <div id="cart-coupon" class="coupons">
                <h6>Have a Coupon?</h6>
                <input type="text" placeholder="Type your coupon code"/>
                <button class="btn block outline thick radius blue" type="submit">Apply Coupon</button>
            </div>
            <div id="order-shipping">
                <h6>Calculate Shipping</h6>
                <select id="countries">
                    <option disabled selected>Choose Your Country</option>
                    <option value="usa">United States</option>
                    <option value="canada">Canada</option>
                    <option value="mexico">Mexico</option>
                </select>
                <input type="text" id="state-province" placeholder="State, Province"/>
                <input type="text" id="zip" placeholder="ZIP, Postcode"/>
                <button class="btn block outline thick blue radius">Update Cart Totals</button>
            </div>
        </div>

    </section>
</div>
