<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="CartController">
    <section id="breadcrumbs">
        <div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Cart</span>
			</span></span>
        </div>
    </section>
    <section id="cart" bindonce="cart">
        <div class="cart-alerts not-showing"></div>
        <div id="cart-contents">
            <h1 class="page-title">Shopping Cart</h1>
            <table id="cart">
                <thead>
                <th colspan="2">Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th class="remove"></th>
                </thead>
                <tbody>
                <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product-row">
                    <td class="product-image">
                        <img ng-src="{{lineItem.variant.images[0].url}}"/>
                    </td>
                    <td class="product-name">
                        <div class="name">{{lineItem.name.en}}</div>
                        <div class="lens-type" style="font-size: 90%">{{lineItem.distributionChannel.name | locale}}</div>
                    </td>
                    <td class="product-price">
                        {{lineItem.price | spherePrice}}
                        <div ng-if="lineItem.discountedPrice" style="font-size: 90%">-{{lineItem.discountedPrice.includedDiscounts | sumDiscounts | spherePrice}}</div>
                    </td>
                    <td class="edit-quantity">
                        <button ng-click="decreaseLineItemQuantity(lineItem)" class="op blue" id="minus">&#45;</button>
                        <input type="text" id="item-amount" ng-model="lineItem.quantity">
                        <button ng-click="increaseLineItemQuantity(lineItem)" class="op blue" id="more">&#43;</button>
                    </td>
                    <td class="item-total">
                        <div class="item-cart-price">
                            <div ng-if="!lineItem.discountedPrice" ng-bind="lineItem.price | priceTimes:lineItem.quantity | spherePrice"></div>
                            <div ng-if="lineItem.discountedPrice" ng-bind="lineItem.discountedPrice | priceTimes:lineItem.quantity | spherePrice"></div>
                            <!--<div ng-if="lineItem.discountedPrice">-{{lineItem.discountedPrice.includedDiscounts | sumDiscounts | priceTimes:lineItem.quantity | spherePrice}}</div>-->
                            <!--<span ng-if="lineItem.discountedPrice" class="discount-text">(-{{lineItem.discountedPrice | priceDiscount:lineItem.discountedPrice | spherePrice }}{{$utils.getCurrencySimbol(lineItem.discountedPrice.value.currencyCode)}} {{((lineItem.price.value.centAmount * lineItem.quantity) - (lineItem.discountedPrice.value.centAmount * lineItem.quantity)) / 100}})</span>-->
                        </div>
                    </td>
                    <td class="remove-item">
                        <a ng-click="removeFromCart(lineItem)" href="" class="remove-from-cart"></a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div ng-include="'modules/carts/views/side-cart.client.view.html'"></div>





    </section>
</div>
