<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="CheckoutController">
    <section id="breadcrumbs">
        <div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /  
				<span class="breadcrumb-last" rel="v:url" property="v:title">Checkout</span>
			</span></span>
        </div>
    </section>
    <section class="page">
        <div class="content checkout-steps">
            <h1 class="page-title">Checkout</h1>
            <section class="steps">
                <div class="panels full">
                    <div class="ex-panel active">
                        <h4><a class="panel-trigger" href="#" id="orders">Shipping Adddress</a></h4>

                        <div class="panel-content">
                            <section class="inner">
                                <div class="saved-addresses-checkout">
                                    <h6>Choose an existing address</h6>

                                    <form ng-if="authentication.user">
                                        <label ng-repeat="address in authentication.user.addresses track by address.id"
                                               ng-click="selectShippingAddress(address)" class="block-radio">
                                            <b>{{address.firstName}} {{address.lastName}}</b><br/>
                                            {{address.streetName}} {{address.streetNumber}}<br/>
                                            {{address.phone}}
                                            <input type="radio" name="address" value="1">
                                        </label>
                                    </form>

                                    <div !ng-if="authentication.user" class="text-center text-danger" style="position: relative;top: 32px;">
                                        <div class="notice outline red small">No addresses. Please log in.</div>
                                    </div>

                                </div>
                                <div class="add-address-checkout">
                                    <h6>Selected Address</h6>

                                    <form id="add-address" name="addAddress" action="#">
                                        <label>First Name</label>
                                        <input type="text" name="firstName" placeholder="First Name"
                                               ng-model="cart.shippingAddress.firstName" required/>
                                        <label>Last Name</label>
                                        <input type="text" name="lastName" placeholder="Last Name"
                                               ng-model="cart.shippingAddress.lastName" required/>
                                        <label>Phone</label>
                                        <input type="tel" name="last-name" placeholder="Phone #"
                                               ng-model="cart.shippingAddress.phone"/>

                                        <div class="form-field-big-quarter">
                                            <label>Address</label>
                                            <input type="text" name="streetName" placeholder="Street Name"
                                                   ng-model="cart.shippingAddress.streetName" required/>
                                        </div>
                                        <div class="form-field-small-quarter">
                                            <label>#</label>
                                            <input type="text" name="streetNumber" placeholder="#"
                                                   ng-model="cart.shippingAddress.streetNumber" required/>
                                        </div>
                                        <label>City</label>
                                        <input type="text" name="city" placeholder="City"
                                               ng-model="cart.shippingAddress.city" required/>
                                        <label>State/Province</label>
                                        <input type="text" name="stater" placeholder="State/Province"
                                               ng-model="cart.shippingAddress.stater" required/>
                                        <label>Zip/Postal</label>
                                        <input type="text" name="postalCode" placeholder="ZIP/Postal"
                                               ng-model="cart.shippingAddress.postalCode" required/>
                                        <label for="country">Country</label>
                                        <select name="country" id="country" ng-model="cart.shippingAddress.country"
                                                required>
                                            <option disabled selected>Please choose a country</option>
                                            <option value="US">US</option>
                                        </select>
                                        <input ng-if="authenticate.user" ng-click="addCustomerAddress(cart.shippingAddress, addAddress.$valid)"
                                               type="button" class="btn blue radius small" value="Save Address"/>
                                    </form>
                                </div>
                                <div class="continue">
                                    <a ng-click="setShippingAddress(cart.shippingAddress)" href=""
                                       class="btn outline green radius block">Continue</a>
                                    <hr/>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="ex-panel {{shippingMethodClass}}" id="shippingMethod">
                        <h4><a class="panel-trigger" href="#" id="orders">Shipping Method</a></h4>

                        <div class="panel-content">
                            <section class="inner">
                                <div class="shipping-full">
                                <h6>Shipping Carriers</h6>

                                <form>

                                    <label ng-repeat="shippingMethod in shippingMethods"
                                           ng-click="selectShippingMethod(shippingMethod)" class="block-radio {{shippingMethod.selected ? 'checked' : ''}}"
                                           style="max-width: 100%;">
                                        <div class="shipping-logo">
                                            <img ng-src="/design/images/shipping-logos/{{shippingMethod.name}}.jpg"
                                                 alt=""/>
                                        </div>
                                        <b>{{shippingMethod.name}}</b><br/>
                                        <input type="radio" name="shipping" value="1">
                                    </label>

                                </form>
                        </div>
                        <div class="continue">
                            <a ng-click="setShippingMethod()" href=""
                               class="btn outline green radius block">Continue</a>
                            <hr/>
                        </div>
            </section>
        </div>
</div>
<div class="ex-panel {{reviewOrderClass}}" id="reviewOrder">
    <h4><a class="panel-trigger" href="#" id="review">Review Order</a></h4>

    <div class="panel-content">
        <h6>Order Details</h6>
        <table id="cart" class="checkout-review">
            <thead>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            </thead>
            <tbody>
            <tr ng-repeat="lineItem in cart.lineItems" class="product-row">
                <td class="product-image">
                    <img ng-src="{{lineItem.variant.images[0].url}}"/>
                    <span class="product-name">{{lineItem.name.en}}</span>
                </td>
                <td class="product-price">
                    {{$utils.getCurrencySimbol(lineItem.price.value.currencyCode)}} {{lineItem.price.value.centAmount /
                    100}}
                </td>
                <td class="quantity">
                    {{lineItem.quantity}}
                </td>
                <td class="item-total-checkout">
                    {{$utils.getCurrencySimbol(lineItem.price.value.currencyCode)}} {{lineItem.price.value.centAmount *
                    lineItem.quantity / 100}}
                </td>
            </tr>
            </tbody>
        </table>
        <!--Shipping, Payment, and Totals-->
        <section id="order-totals-checkout">
            <div class="checkout-totals" id="billing">
                <h6>Payment Information</h6>
                <b>To be set in next step</b>

            </div>
            <div class="checkout-totals" id="shipping">
                <h6>Shipping Information</h6>
                <b>{{cart.shippingAddress.firstName}} {{cart.shippingAddress.lastName}}</b><br/>
                {{cart.shippingAddress.streetName}} {{cart.shippingAddress.streetNumber}}<br/>
                {{cart.shippingAddress.phone}}

            </div>
            <div class="checkout-totals" id="order-total">
                <h6>Totals</h6>
                <table id="final-totals">
                    <tbody>
                    <tr>
                        <td>Sub Total</td>
                        <td>{{$utils.getCurrencySimbol(cart.totalPrice.currencyCode)}} {{(cart.totalPrice.centAmount -
                            cart.shippingInfo.shippingRate.price.centAmount) / 100}}
                        </td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td ng-if="cart.shippingInfo">
                            {{$utils.getCurrencySimbol(cart.shippingInfo.shippingRate.price.currencyCode)}}
                            {{cart.shippingInfo.shippingRate.price.centAmount / 100}}
                        </td>
                        <td ng-if="!cart.shippingInfo">-</td>
                    </tr>
                    <tr>
                        <td><h6>Order Total</h6></td>
                        <td><h6>{{$utils.getCurrencySimbol(cart.totalPrice.currencyCode)}} {{cart.totalPrice.centAmount
                            / 100}}</h6></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <FORM ng-if="authorizeNet" method='post' action='https://test.authorize.net/gateway/transact.dll' >
                <INPUT type='hidden' name='x_login' value='{{authorizeNet.x_login}}' />
                <INPUT type='hidden' name='x_amount' value='{{authorizeNet.x_amount}}' />
                <INPUT type='hidden' name='x_description' value='Descr' />
                <INPUT type='hidden' name='x_fp_sequence' value='{{authorizeNet.x_fp_sequence}}' />
                <INPUT type='hidden' name='x_fp_timestamp' value='{{authorizeNet.x_fp_timestamp}}' />
                <INPUT type='hidden' name='x_fp_hash' value='{{authorizeNet.x_fp_hash}}' />
                <INPUT type='hidden' name='x_test_request' value='false' />
                <INPUT type='hidden' name='x_show_form' value='PAYMENT_FORM' />
                <INPUT type='hidden' name='x_receipt_link_method' value='POST' />
                <INPUT type='hidden' name='x_receipt_link_text' value='Back to Focali' />
                <INPUT type='hidden' name='x_receipt_link_url' value='http://localhost:3000/carts/createOrder/{{cart.id}}' />
                <div class="place-order">
                    <br/>
                    <input ng-click="createOrder()" type='submit' class="btn block blue outline radius" value="Place Order"/>
                </div>
            </FORM>


        </section>
    </div>
</div>
</div>

</div>
<!--close steps column-->
<!--checkout side column-->
<div id="cart-totals">
    <h3>Your Cart</h3>
    <hr/>
    <table id="subtotals">
        <span class="sub-title">Products</span>
        <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product">
            <td class="product-name">
                {{lineItem.name.en}} <span class="qty">x{{lineItem.quantity}}</span>
            </td>
            <td class="amount">
                {{$utils.getCurrencySimbol(lineItem.price.value.currencyCode)}} {{lineItem.price.value.centAmount *
                lineItem.quantity / 100}}
            </td>
        </tr>
        <tr class="subtotal">
            <td class="concept">
                Subtotal
            </td>
            <td id="sub-amount" class="amount">
                {{$utils.getCurrencySimbol(cart.totalPrice.currencyCode)}} {{(cart.totalPrice.centAmount -
                cart.shippingInfo.shippingRate.price.centAmount) / 100}}
            </td>
        </tr>
        <tr class="shipping">
            <td class="concept">
                Shipping
            </td>
            <td ng-if="cart.shippingInfo" id="shipping-cost" class="amount">
                {{$utils.getCurrencySimbol(cart.shippingInfo.shippingRate.price.currencyCode)}}
                {{cart.shippingInfo.shippingRate.price.centAmount / 100}}
            </td>
            <td ng-if="!cart.shippingInfo" id="shipping-cost" class="amount">
                -
            </td>
        </tr>
        <tr id="final-order-price">
            <td class="concept">
                <b>Order Total</b>
            </td>
            <td id="price-total" class="amount">
                {{$utils.getCurrencySimbol(cart.totalPrice.currencyCode)}} {{cart.totalPrice.centAmount / 100}}
            </td>
        </tr>
    </table>
</div>
</section>
</div>
