<hr class="nav-divider"/>
<div class="content-wrapper">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> /  
				<span class="breadcrumb-last" rel="v:url" property="v:title">Checkout</span>
			</span></span>
		</div>
	</section>
	<section class="page">
		<div class="content checkout-steps">
			<h1 class="page-title">Checkout</h1>
			<section class="steps">
			<div class="panels full">
				<div class="ex-panel active">
					<h4><a class="panel-trigger" href="#" id="orders">Shipping Adddress</a></h4>
					<div class="panel-content">
						<section class="inner">
							<div class="saved-addresses-checkout">
							<h6>Choose an existing address</h6>
								<form>
										
										<label class="block-radio">
											<b>John Doe</b><br/>
											4120 Lenox Avenue<br/>
											10035, New York City, NY<br/>
											+1 718 456681
											<input type="radio" name="address" value="1">
										</label>
										<label class="block-radio">
											<b>Fox Mulder</b><br/>
											345E 58th Street<br/>
											10035, New York City, NY<br/>
											+1 718 456681
											<input type="radio" name="address" value="2">
										</label>
										<label class="block-radio">
											<b>Sledge Hammer</b><br/>
											4120 Lenox Avenue<br/>
											10035, New York City, NY<br/>
											+1 718 456681
											<input type="radio" name="address" value="3">
										</label>
									
								</form>
							</div>
							<div class="add-address-checkout">
								<h6>Add A New Address</h6>
								<form id="add-address" action="#">
									<label>Full Name</label>
									<input type="text" name="name" placeholder="Full Name" />
									<label>Phone</label>
									<input type="tel" name="last-name" placeholder="Phone #" />
									<label>Address</label>
									<input type="text" name="address" placeholder="Address"/>
									<label>City</label>
									<input type="text" name="city" placeholder="City"/>				
									<label>State/Province</label>
									<input type="text" name="state" placeholder="State/Province" />
									<label>Zip/Postal</label>
									<input type="text" name="zip" placeholder="ZIP/Postal" />
									<label for="country">Country</label>
									<select name="country" id="country">
										<option disabled selected>Please choose a country</option>
										<option value="usa">United States</option>
										<option value="canada">Canada</option>
										<option value="uk">United Kingdom</option>
									</select>
									<input type="submit" class="btn blue radius small" value="Save Address"/>
								</form>						
							</div>
							<div class="continue">
								<a href="#" class="btn outline green radius block">Continue</a>
								<hr/>
							</div>
						</section>
					</div>
				</div>
				<div class="ex-panel">
					<h4><a class="panel-trigger" href="#" id="orders">Shipping Method</a></h4>
					<div class="panel-content">
						<section class="inner">
							<div class="shipping-left">
								<h6>Shipping Carriers</h6>
								<form>
										
									<label class="block-radio">
										<div class="shipping-logo">
											<img src="/design/images/shipping-logos/dhl.jpg" alt="" />
										</div>
										<b>DHL</b><br/>
										<input type="radio" name="shipping" value="1">
									</label>
									<label class="block-radio">
										<div class="shipping-logo">
											<img src="/design/images/shipping-logos/ups.jpg" alt="" />
										</div>
										<b>UPS</b><br/>
										<input type="radio" name="shipping" value="2">
									</label>
									<label class="block-radio">
										<div class="shipping-logo">
											<img src="/design/images/shipping-logos/usps.jpg" alt="" />
										</div>
										<b>USPS</b><br/>
										<input type="radio" name="shipping" value="3">
									</label>
									<label class="block-radio">
									<div class="shipping-logo">
										<img src="/design/images/shipping-logos/fedex.jpg" alt="" />
									</div>
										<b>FEDEX</b><br/>
										<input type="radio" name="shipping" value="3">
									</label>
									
								</form>				
							</div>
							<div class="shipping-right">
									<h6>Shipping OPtions for this Carrier</h6>
									<label class="block-radio">
										<b>Free Shipping</b><span class="badge xsmall tblue radius outline pull-right">6 - 10 days</span>
										<input type="radio" name="shipping-price" value="1">
									</label>
									<label class="block-radio">
										<b>Expedited $19.99</b><span class="badge xsmall tblue radius outline pull-right">2 days</span>
										<input type="radio" name="shipping-price" value="19.99">
									</label>
									<label class="block-radio">
										<b>Same Day $49.99</b><span class="badge xsmall tblue radius outline pull-right">1 day</span>
										<input type="radio" name="shipping-price" value="3">
									</label>
									
							</div>
							<div class="continue">
								<a href="#" class="btn outline green radius block">Continue</a>
								<hr/>
							</div>
						</section>
					</div>
				</div>
				<div class="ex-panel">
					<h4><a class="panel-trigger" href="#" id="orders">Payment Method</a></h4>
					<div class="panel-content">
						<section class="inner">
							<div class="saved-addresses-checkout">
							<h6>Saved Cards</h6>
								<form>
										
										<label class="block-radio">
											<b>John Doe</b><br/>
											XXXX-XXXX-XXXX-3874<br/>
											10035, New York City, NY<br/>
											08/2015
											<input type="radio" name="payment-method" value="1">
										</label>
										<label class="block-radio">
											<b>Fox Mulder</b><br/>
											XXXX-XXXX-XXXX-4474<br/>
											10035, New York City, NY<br/>
											01/2015<br/>
											<span class="badge xsmall red outline radius no-margin">Expired</span>
											<input type="radio" name="payment-method" value="2">
										</label>
										<label class="block-radio">
											<b>Sledge Hammer</b><br/>
											4120 Lenox Avenue<br/>
											10035, New York City, NY<br/>
											+1 718 456681
											<input type="radio" name="payment-method" value="3">
										</label>
									
								</form>
							<h6>Other Payment Methods</h6>
								<label class="block-radio">
									<b>Paypal</b><br/>
									<input type="radio" name="payment-method" value="3">
								</label>
								<label class="block-radio">
									<b>Check</b><br/>
									<input type="radio" name="payment-method" value="3">
								</label>
								<label class="block-radio">
									<b>Deposit</b><br/>
									<input type="radio" name="payment-method" value="3">
								</label>
							</div>
							<div class="add-card-checkout">
								<h6>Add A New Card</h6>
								<form id="add-card-checkout" action="#">
									<label>Full Name</label>
									<input type="text" name="name" placeholder="Full Name" />
									<label>Card Number</label>
									<input type="tel" name="last-name" placeholder="Phone #" />
									<label>Billing Address</label>
									<input type="text" name="address" placeholder="Address"/>
									<label>City</label>
									<input type="text" name="city" placeholder="City"/>				
									<label>State/Province</label>
									<input type="text" name="state" placeholder="State/Province" />
									<label>Zip/Postal</label>
									<input type="text" name="zip" placeholder="ZIP/Postal" />
									<div class="form-field-half">
										<label for="security-code">Security Code</label>
										<input type="text" name="zip" placeholder="111" />
										
									</div>
									<div class="form-field-half">
										<label for="valid">Expiration Date</label>
										<input type="text" name="valid" placeholder="12/2022" />
									</div>
									<label for="country">Country</label>
									<select name="country" id="country">
										<option disabled selected>Please choose a country</option>
										<option value="usa">United States</option>
										<option value="canada">Canada</option>
										<option value="uk">United Kingdom</option>
									</select>
									<input type="submit" class="btn blue radius small" value="Save Address"/>
								</form>						
							</div>
							<div class="continue">
								<a href="#" class="btn outline green radius block">Continue</a>
								<hr/>
							</div>
						</section>
					</div>
				</div>
				<div class="ex-panel">
					<h4><a class="panel-trigger" href="#" id="review">Review Order</a></h4>
					<div class="panel-content">
							<h6>Order Details</h6>
							<table id="cart" class="checkout-review">
								<thead>
									<th>Product</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</thead>
								<tbody>
									<tr class="product-row">
										<td class="product-image">
											<img src="/design/images/eyewear/eyewear-model.jpg"/>
											<span class="product-name">Focali Better View</span>
										</td>
										<td class="product-price">
											$49.99
										</td>
										<td class="quantity">
											2
										</td>
										<td class="item-total-checkout">
												$99.98
										</td>
									</tr>
									<tr class="product-row">
										<td class="product-image">
											<img src="/design/images/eyewear/eyewear-model.jpg"/>
											<span class="product-name">Focali Even Better. Testing More than one line here</span>
										</td>
										<td class="product-price">
											$79.99
										</td>
										<td class="quantity">
												1
										</td>
										<td class="item-total-checkout">
											$79.99
										</td>
									</tr>
								</tbody>
							</table>
							<!--Shipping, Payment, and Totals-->
							<section id="order-totals-checkout">
								<div class="checkout-totals" id="billing">
									<h6>Payment Information</h6>
									<b>John Doe</b><br/>
									XXXX-XXXX-XXXX-3874<br/>
									10035, New York City, NY<br/>
									08/2015
									
								</div>
								<div class="checkout-totals" id="shipping">
									<h6>Shipping Information</h6>
									<b>Fox Mulder</b><br/>
									345E 58th Street<br/>
									10035, New York City, NY<br/>
									+1 718 456681
								</div>
								<div class="checkout-totals" id="order-total">
									<h6>Totals</h6>
									<table id="final-totals">
										<tbody>
											<tr>
												<td>Sub Total</td>
												<td>149.99</td>
											</tr>
											<tr>
												<td>Shipping</td>
												<td>free</td>
											</tr>
											<tr>
												<td><h6>Order Total</h6></td>
												<td><h6>149.99</h6></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="place-order">
								<br/>
								<a href="#!/order-final" class="btn block blue outline radius">Place Order</a>
								</div>
							</section>
					</div>
				</div>
			</div>
				
		</div><!--close steps column-->
		<!--checkout side column-->
		<div id="cart-totals">
			<h3>Your Cart</h3>
			<hr/>
			<table id="subtotals">
				<span class="sub-title">Products</span>
				<tr class="product">				
					<td class="product-name">
					Focali Better View <span class="qty">x2</span>
					</td>
					<td class="amount">
					$79.98
					</td>
				</tr>
				<tr class="product">				
					<td class="product-name">
					Focali Oculus <span class="qty">x1</span>
					</td>
					<td class="amount">
					$149.99
					</td>
				</tr>
				<tr class="product">				
					<td class="product-name">
					Ray-Ban Aviator <span class="qty">x1</span>
					</td>
					<td class="amount">
					$99.99
					</td>
				</tr>
				<tr class="subtotal">
					<td class="concept">
						Subtotal
					</td>
					<td id="sub-amount" class="amount">
						$499.99
					</td>
				</tr>
				<tr class="shipping">
					<td class="concept">
						Shipping
					</td>
					<td id="shipping-cost" class="amount">
						free
					</td>
				</tr>
				<tr id="final-order-price">
					<td class="concept">
						<b>Order Total</b>
					</td>
					<td id="price-total" class="amount">
						$499.99
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>
