<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="CheckoutController">
    <section id="breadcrumbs">
        <div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Checkout</span>
			</span></span>
        </div>
    </section>
    <section class="page">
        <div class="content checkout-steps">
            <h1 ng-if="phasePrescription" class="page-title">{{::view.prescriptionTitle}}</h1>
            <h1 ng-if="!phasePrescription" class="page-title">Checkout</h1>
            <section class="steps">
                <div class="panels full">

                    <!-- PHASE PRESCRIPTION -->
                    <div ng-if="phasePrescription" ng-init="getPrescription()">
                        <div ng-show="prescription.type == 'prescription'"  id="prescriptionMethod">
                          <!-- <h4>Apply Prescription</h4> -->
                            <!-- <br /> -->
                            <hr />
                            <h6>How would you like to send us your prescription?</h6>
                            <!--<prescription-box header="Upload a picture" size="3" ng-click="prescription.method = 'upload'; $parent.highindex=false; uploadPrescription()" ng-class="{selected: prescription.method == 'upload'}">I will attach a copy of my prescription and upload it from my computer.</prescription-box>-->
                            <prescription-box header="Upload a picture" size="3"
                                              ngf-select="true" ngf-change="uploadPrescription($files)" ngf-multiple="false"  ngf-allow-dir="false"
                                              ng-class="{selected: prescription.method == 'upload'}" id="upload-prescription">
                                              I will upload my prescription from my computer (.pdf, .jpg or .png).
                            </prescription-box>

                            <prescription-box header="Call My Doctor" size="3" ng-click="prescription.method = 'calldoctor'; anchorScroll('lensType')" ng-class="{selected: prescription.method == 'calldoctor'}">I would like Focali to call my doctor and obtain my prescription.</prescription-box>
                            <prescription-box header="Send It Later" size="3" ng-click="prescription.method = 'sendlater'; savePrescription('sendlater');" ng-class="{selected: prescription.method == 'sendlater'}">I don't have my prescription right now but I will send it to Focali later. </prescription-box>

                            <div ng-show="prescription.method=='calldoctor'" id="calldoctor">
                                <br />
                                <hr />
                                <h6>Please enter the following information</h6>
                                <form name="callDoctorForm" data-ng-submit="savePrescription('calldoctor', callDoctorForm.$valid);" novalidate>
                                    <div class="form-field-half">
                                        <label>Doctor or Clinic name*</label>
                                        <input required type="text" class="half" id="doctorName" name="doctorName" data-ng-model="prescription.calldoctor.doctorName" placeholder="Doctor or Clinic name" ng-minlength="4" />
                                    </div>
                                    <div class="form-field-half">
                                        <label>Clinic phone number*</label>
                                        <input required type="text" class="half" id="phoneNumber" name="phoneNumber" data-ng-model="prescription.calldoctor.phoneNumber" placeholder="Clinic phone number" ng-minlength="4"/>
                                    </div>
                                    <div class="form-field-half">
                                        <label>Clinic or Clinic State*</label>
                                        <input required type="text" class="half" id="state" name="state" data-ng-model="prescription.calldoctor.state" placeholder="Clinic or Clinic State"/>
                                    </div>
                                    <br />
                                    <div class="form-field-half">
                                        <label>Patient Full Name*</label>
                                        <input required type="text" class="half" id="patientName" name="patientName" data-ng-model="prescription.calldoctor.patientName" placeholder="Patient Full Name" ng-minlength="4"/>
                                    </div>
                                    <div class="form-field-half">
                                        <label>patient date of birth*</label>
                                        <input required type="text" class="half" id="patientBirth" name="patientBirth" data-ng-model="prescription.calldoctor.patientBirth" placeholder="MM/DD/YYYY" ng-pattern="/^[01][0-9]\/[0-3][0-9]\/[1-2][890][0-9]{2}$/"/>
                                    </div>
                                    <div class="form-field-half">
                                        <button type="submit" class="btn radius blue">{{$parent.highindex ? 'Update' : 'Next'}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div ng-show="prescription.method == 'upload' && file.original_filename" style="margin-top: 20px; margin-bottom: -20px;">
                            <label>Filename: {{file.original_filename}}</label>
                            <label>Size: {{file.file_size}}</label>
                        </div>


                        <div ng-show="highindex" id="highindex" ng-init="prescriptionOptions.highIndex = 'removeHighIndex'">
                            <br />
                            <hr />
                            <h6>{{::view.highIndexOptions.name}}</h6>
                            <div class="prescription-row">
                              <prescription-box-bind ng-repeat="opt in ::view.highIndexOptions.links"
                                header="{{::opt.title}}" size="{{::view.highIndexOptions.links.length}}"
                                ng-click="selectPrescriptionOption('highIndex', opt.url)"
                                ng-class="{selected: prescriptionOptions.highIndex === opt.url}"
                                content="::opt.text">
                              </prescription-box-bind>
                            </div>
                        </div>

                        <div ng-show="highindex" id="highindex" ng-init="prescriptionOptions.blueBlock = 'removeBlueBlock'">
                            <br />
                            <hr />
                            <h6>{{::view.blueBlockOptions.name}}</h6>
                            <div class="prescription-row">
                              <prescription-box-bind ng-repeat="opt in ::view.blueBlockOptions.links"
                                header="{{::opt.title}}" size="{{::view.blueBlockOptions.links.length}}"
                                ng-click="selectPrescriptionOption('blueBlock', opt.url)"
                                ng-class="{selected: prescriptionOptions.blueBlock === opt.url}"
                                content="::opt.text">
                              </prescription-box-bind>
                            </div>
                        </div>

                        <div id="next">
                            <br />
                            <hr />
                            <button type="button" class="btn radius outline green block" ng-click="showPhaseA();">Next ></button>
                        </div>





                    </div>
                    <div ng-if="!phasePrescription && showPrescriptionSummary && !phaseA">
                        <h4>Prescription Summary</h4>
                        <hr />
                        <span class="summary"><b>Prescription type:</b></span> <span class="summary" ng-bind="prescription.type"></span>
                        <div ng-if="prescription.type == 'reader'"><span class="summary"><b>Lens Strength:</b></span> +{{prescription.strength}}</span></div>
                        <div ng-if="prescription.type == 'prescription'"><span class="summary"><b>Prescription Details:</b> {{prescription.method | prescriptionName}}</span></div>
                        <!--<hr />-->
                        <br /><br />
                    </div>

                    <!-- PHASE A -->
                    <div ng-if="phaseA">
                        <h4>Shipping Address</h4>
                        <hr>
                        <div class="panel-content">
                            <section class="inner">
                                <div ng-if="authentication.user" class="saved-addresses-checkout">
                                    <h6 >Choose an existing address</h6>

                                    <form ng-if="authentication.user">
                                        <label ng-repeat="shippingAddress in authentication.user.addresses track by shippingAddress.id"
                                               ng-click="selectShippingAddress(shippingAddress)" class="block-radio {{shippingAddress.selected ? 'checked' : ''}}">
                                            <b>{{shippingAddress.firstName}} {{shippingAddress.lastName}}</b><br/>
                                            {{shippingAddress.streetName}} <br> {{shippingAddress.additionalStreetInfo}}<br/>
                                            {{shippingAddress.phone}}
                                            <input type="radio" name="address" value="1">
                                        </label>
                                    </form>

                                </div>
                                <div class="add-address-checkout">
                                    <h6>Enter Shipping Address</h6>

                                    <form id="add-address" name="addAddress" action="#">
                                        <label>First Name<span ng-show="!loading && cart.shippingAddress.firstName.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="firstName" placeholder="First Name"
                                               ng-model="cart.shippingAddress.firstName" required/>
                                        <label>Last Name<span ng-show="!loading && cart.shippingAddress.lastName.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="lastName" placeholder="Last Name"
                                               ng-model="cart.shippingAddress.lastName" required/>


                                        <!-- New field for email address. Should display only when not logged in -->
                                        <label ng-if="!authentication.user">Email<span ng-show="!loading && cart.shippingAddress.email.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="email" name="email" validate-email placeholder="Email" ng-if="!authentication.user"
                                               ng-model="cart.shippingAddress.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>

                                        <label>Phone<span ng-show="!loading && cart.shippingAddress.phone.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="tel" name="last-name" placeholder="Phone #"
                                               ng-model="cart.shippingAddress.phone" required/>

                                        <!-- <div class="form-field-big-quarter"> -->
                                            <label>Address<span ng-show="!loading && cart.shippingAddress.streetName.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                            <input type="text" name="streetName" placeholder="Street Name"
                                                   ng-model="cart.shippingAddress.streetName" required/>
                                        <!-- </div> -->
                                        <label>Additional Address Information</label>
                                        <input type="text" name="additionalStreetInfo" placeholder="Additional Address Information"
                                                   ng-model="cart.shippingAddress.additionalStreetInfo"/>
                                        <label for="country">Country<span ng-show="!loading && cart.shippingAddress.country.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <select name="country" id="country" ng-model="cart.shippingAddress.country"
                                                required>
                                            <option value="" disabled selected>Please choose a country</option>
                                            <option value="US">United States</option>
                                        </select>
                                        <label>State/Province<span ng-show="!loading && cart.shippingAddress.state.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <select id="states"  ng-model="cart.shippingAddress.state"   required>
                                            <option value="" selected disabled>Choose Province/State</option>
                                            <option ng-selected="{{cart.shippingAddress.state == ds.code}}" ng-repeat="ds in dataStates[cart.shippingAddress.country]" value="{{ds.code}}">{{ds.name}}</option>

                                        </select>
                                        <label>City<span ng-show="!loading && cart.shippingAddress.city.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="city" placeholder="City"
                                               ng-model="cart.shippingAddress.city" required/>
                                        <label>Zip/Postal<span ng-show="!loading && cart.shippingAddress.postalCode.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="postalCode" placeholder="ZIP/Postal" maxlength="5"
                                               ng-model="cart.shippingAddress.postalCode" required/>
                                        <div class="checkbox-same">
                                                <input id="same-as-check" type="checkbox" ng-model="setAsBilling" ng-change="setAsBillingAddress(setAsBilling)" value="1">
                                                <label id="same-as-label">Set this address as billing address.</label>
                                        </div>
                                        <input ng-if="authentication.user && validateShippingAddress()" ng-click="addCustomerAddress(cart.shippingAddress, addAddress.$valid)"
                                               type="button" class="btn blue radius small" value="Save Address"/>
                                    </form>
                                </div>
                                <div class="row" ng-if="validateShippingAddress()"><div class="col-md-12">
                                    <div class="col col-md-6" ng-if="showPrescriptionSummary">
                                        <div class="continue">
                                            <a ng-click="showPhasePrescription()" href=""
                                               class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">< Back</a>
                                        </div>
                                    </div>
                                    <div ng-class="{'col-md-6': showPrescriptionSummary}" class="col">
                                        <div class="continue" disabled="true">
                                            <a ng-click="setShippingAddress(cart.shippingAddress)" href=""
                                               class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">Next ></a>
                                        </div>
                                    </div>
                                </div></div>
                            </section>
                        </div>
                    </div>


                    <div ng-if="phaseB">
                        <h4>Shipping Method</h4>
                        <hr>
                        <div class="panel-content">
                            <section class="inner">
                                <div class="shipping-full">
                                    <h6>Shipping Carriers</h6>

                                    <form>

                                        <label ng-repeat="shippingMethod in shippingMethods"
                                               ng-click="selectShippingMethod(shippingMethod)" class="block-radio {{shippingMethod.selected ? 'checked' : ''}}"
                                               style="max-width: 100%;">
                                            <div class="shipping-logo">
                                                <img ng-src="/design/images/shipping-logos/{{shippingMethod.name}}.jpg"
                                                     alt="" err-src="/design/images/shipping-logos/Truck.png"/>
                                            </div>
                                            <b>{{shippingMethod.name}}</b>
                                            <b class="pull-right" style="margin-top: 10px;">{{shippingMethod.zoneRates[0].shippingRates[0].price | spherePrice}}</b><br/>
                                            <input type="radio" name="shipping" value="1">
                                        </label>

                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col col-md-6">
                                        <div ng-if="selectedShippingMethod" class="continue">
                                            <a ng-click="showPhaseA()" href=""
                                               class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">< Back</a>
                                        </div>
                                    </div>
                                    <div class="col col-md-6">
                                        <div ng-if="selectedShippingMethod" class="continue">
                                            <a ng-click="setShippingMethod()" href=""
                                               class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">Next ></a>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>


                    <div ng-if="phaseC">
                        <h4>Billing Method</h4>
                        <hr>
                        <div class="panel-content">
                            <section class="inner">

                                <div style="margin-left: 15px;">
                                    <b>Stay secure and protected</b>

                                    <p>PayPal uses data encryption and anti-fraud technology to keep your information
                                        secure, reducing the risk of online fraud.</p>
                                    <br>
                                    <form id="payment-form" method="post" action="/checkouts">
                                        <div id="dropin-container"></div>
                                        <input type="hidden" name="amount"
                                               value="{{cart.totalPrice.centAmount / 100}}"/>
                                        <div class="row">
                                            <div class="col col-md-6">
                                                <div class="continue">
                                                    <a ng-click="showPhaseB()" href=""
                                                       class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">< Back</a>
                                                </div>
                                            </div>
                                            <div class="col col-md-6">
                                                <div class="continue">
                                                    <button class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}" type="submit">Next ></button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>



                            </section>
                        </div>
                    </div>


                    <div ng-if="phaseD">
                        <h4>Billing Address</h4>
                        <hr>
                        <div class="panel-content">
                            <section class="inner">
                                <div ng-if="authentication.user" class="saved-addresses-checkout">
                                    <h6>Choose an existing address</h6>

                                    <form ng-if="authentication.user">
                                        <label ng-repeat="billingAddress in authentication.user.addresses track by billingAddress.id"
                                               ng-click="selectBillingAddress(billingAddress)" class="block-radio {{billingAddress.selected ? 'checked' : ''}}">
                                            <b>{{billingAddress.firstName}} {{billingAddress.lastName}}</b><br/>
                                            {{billingAddress.streetName}} <br>{{billingAddress.additionalStreetInfo}}<br/>
                                            {{billingAddress.phone}}
                                            <input type="radio" name="address" value="1">
                                        </label>
                                    </form>


                                </div>
                                <div class="add-address-checkout">
                                    <h6>Enter Billing Address</h6>

                                    <form id="add-address" name="addAddress" action="#">
                                        <label>First Name<span ng-show="!loading && cart.billingAddress.firstName.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="firstName" placeholder="First Name"
                                               ng-model="cart.billingAddress.firstName" required/>
                                        <label>Last Name<span ng-show="!loading && cart.billingAddress.lastName.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="lastName" placeholder="Last Name"
                                               ng-model="cart.billingAddress.lastName" required/>
                                        <label>Phone<span ng-show="!loading && cart.billingAddress.phone.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="tel" name="last-name" placeholder="Phone #"
                                               ng-model="cart.billingAddress.phone" required/>

                                        <!-- <div class="form-field-big-quarter"> -->
                                            <label>Address<span ng-show="!loading && cart.billingAddress.streetName.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                            <input type="text" name="streetName" placeholder="Street Adress"
                                                   ng-model="cart.billingAddress.streetName" required/>
                                        <!-- </div> -->
                                        <label>Additional Address Information</label>
                                        <input type="text" name="additionalStreetInfo" placeholder="Additional Address Information"
                                                   ng-model="cart.billingAddress.additionalStreetInfo" />
                                        <label for="country">Country</label>
                                        <select name="country" id="country" ng-model="cart.billingAddress.country"
                                                required>
                                            <option disabled selected>Please choose a country</option>
                                            <option value="US">United States</option>
                                        </select>
                                        <label>State/Province<span ng-show="!loading && cart.billingAddress.state.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <select id="state"  ng-model="cart.billingAddress.state"   required>
                                            <option value="" selected disabled>Choose Province/State</option>
                                            <option ng-selected="{{cart.billingAddress.state == ds.code}}" ng-repeat="ds in dataStates[cart.billingAddress.country]" value="{{ds.code}}">{{ds.name}}</option>

                                        </select>
                                        <label>City<span ng-show="!loading && cart.billingAddress.city.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="city" placeholder="City"
                                               ng-model="cart.billingAddress.city" required/>
                                        <label>Zip/Postal<span ng-show="!loading && cart.billingAddress.postalCode.length == null" style="margin-left: 10px;color:red;"> Required. Please complete.</span></label>
                                        <input type="text" name="postalCode" placeholder="ZIP/Postal" maxlength="5"
                                               ng-model="cart.billingAddress.postalCode" required/>
                                        <input ng-if="authentication.user && validateBillingAddress()" ng-click="addCustomerAddress(cart.billingAddress, addAddress.$valid)"
                                               type="button" class="btn blue radius small" value="Save Address"/>
                                    </form>
                                </div>


                                <div class="row">
                                    <div class="col col-md-6">
                                        <div class="continue">
                                            <a ng-click="showPhaseC()" href=""
                                               class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">< Back</a>
                                        </div>
                                    </div>
                                    <div class="col col-md-6">
                                        <div ng-if="validateBillingAddress()" class="continue">
                                            <a ng-click="setBillingAddress(cart.billingAddress)" href=""
                                               class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">Next ></a>
                                        </div>
                                    </div>

                                </div>

                            </section>
                        </div>
                    </div>


                    <div ng-if="phaseE">
                        <h4>Review Order</h4>
                        <hr>
                        <div class="panel-content">
                            <h6>Order Details</h6>
                            <table id="cart" class="checkout-review">
                                <thead>
                                <th colspan="2">Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th class="remove"></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product-row">
                                    <td class="product-image">
                                        <img ng-src="{{lineItem.variant.images[0].url}}"/>
                                    </td>
                                    <td class="product-name">
                                        <div class="name">{{lineItem.name.en}}</div>
                                        <div class="lens-type" style="font-size: 90%">{{lineItem.distributionChannel.name | locale}}</div>
                                    </td>
                                    <td class="product-price">
                                        {{lineItem.price | spherePrice}}
                                        <div ng-if="lineItem.discountedPrice" style="font-size: 90%">-{{lineItem.discountedPrice.includedDiscounts | sumDiscounts | spherePrice}}</div>
                                    </td>
                                    <td class="quantity">
                                        {{lineItem.quantity}}
                                    </td>
                                    <td class="item-total">
                                        <div class="item-cart-price">
                                            <div ng-if="!lineItem.discountedPrice" ng-bind="lineItem.price | priceTimes:lineItem.quantity | spherePrice"></div>
                                            <div ng-if="lineItem.discountedPrice" ng-bind="lineItem.discountedPrice | priceTimes:lineItem.quantity | spherePrice"></div>
                                            <!--<div ng-if="lineItem.discountedPrice">-{{lineItem.discountedPrice.includedDiscounts | sumDiscounts | priceTimes:lineItem.quantity | spherePrice}}</div>-->
                                            <!--<span ng-if="lineItem.discountedPrice" class="discount-text">(-{{lineItem.discountedPrice | priceDiscount:lineItem.discountedPrice | spherePrice }}{{$utils.getCurrencySimbol(lineItem.discountedPrice.value.currencyCode)}} {{((lineItem.price.value.centAmount * lineItem.quantity) - (lineItem.discountedPrice.value.centAmount * lineItem.quantity)) / 100}})</span>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--Shipping, Payment, and Totals-->
                            <section id="order-totals-checkout">
                                <div class="checkout-totals" id="billing">
                                    <h6>Payment Information</h6>
                                    <b>{{cart.billingAddress.firstName}} {{cart.billingAddress.lastName}}</b><br/>
                                    {{cart.billingAddress.streetName}} {{cart.billingAddress.additionalStreetInfo}}<br/>
                                    {{cart.billingAddress.postalCode}}, {{cart.billingAddress.city}}<br/>
                                    {{cart.billingAddress.phone}}

                                </div>
                                <div class="checkout-totals" id="shipping">
                                    <h6>Shipping Information</h6>
                                    <b>{{cart.shippingAddress.firstName}} {{cart.shippingAddress.lastName}}</b><br/>
                                    {{cart.shippingAddress.streetName}} {{cart.shippingAddress.additionalStreetInfo}}<br/>
                                    {{cart.shippingAddress.postalCode}}, {{cart.shippingAddress.city}}<br/>
                                    {{cart.shippingAddress.phone}}

                                </div>
                                <div class="checkout-totals" id="order-total">
                                    <h6>Totals</h6>
                                    <table id="final-totals">
                                        <tbody>
                                        <tr>
                                            <td>Sub Total</td>
                                            <td>{{cart.taxedPrice.totalGross | priceMath:cart.shippingInfo.shippingRate.price:'-' | spherePrice}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Shipping</td>
                                            <td ng-if="cart.shippingInfo">
                                                {{cart.shippingInfo.shippingRate.price | spherePrice}}
                                            </td>
                                            <td ng-if="!cart.shippingInfo">-</td>
                                        </tr>
                                        <tr>
                                            <td><h6>Order Total</h6></td>
                                            <td><h6>{{cart.taxedPrice.totalGross | spherePrice}}</h6></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="place-order">
                                    <br/>

                                    <div class="row">
                                        <div class="col col-md-6">
                                            <div class="continue">
                                                <a ng-click="showPhaseD()" href=""
                                                   class="{{loading ? 'btn outline radius block disabled' : 'btn outline green radius block'}}">< Back</a>
                                            </div>
                                        </div>
                                        <div class="col col-md-6">
                                            <a ng-click="placeOrder($event)" href="" class="btn block blue outline radius">Place Order</a>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>

        </div>
        <!--close steps column-->
        <!--checkout side column-->

        <div ng-include="'modules/carts/views/side-cart.client.view.html'"></div>

    </section>
</div>
