<div id="cart-totals">
    <h3>Your Cart</h3>
    <hr/>
    <table id="subtotals">
        <span class="sub-title">Products</span>
        <span ng-if="(cart.lineItems == null || cart.lineItems.length == 0)">(No products yet)</span>
        <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product">
            <td class="product-name">
                {{lineItem.name.en}} <label>{{lineItem.distributionChannel.name | locale}}</label>
            <td class="product-quantity">
                x{{lineItem.quantity}}
            </td>
            <td class="amount">
                <span ng-if="!lineItem.discountedPrice" ng-bind="lineItem.price | priceTimes:lineItem.quantity | spherePrice"></span>
                <span ng-if="lineItem.discountedPrice" ng-bind="lineItem.discountedPrice | priceTimes:lineItem.quantity | spherePrice"></span>
            </td>
        </tr>
        <tr ng-repeat="lineItem in cart.customLineItems track by lineItem.slug" class="product">
            <td class="product-name">
                {{lineItem.name.en}} <label>{{lineItem.distributionChannel.name | locale}}</label>
            <td class="product-quantity">
                x{{lineItem.quantity}}
            </td>
            <td class="amount">
                <span ng-bind="lineItem.money | priceTimes:lineItem.quantity | spherePrice"></span>
            </td>
        </tr>
        <tr class="subtotal">
            <td class="concept">
                Taxes <span style="font-size: 10px;">(included)</span>
            </td>
            <td></td>
            <td ng-repeat="taxPortion in cart.taxedPrice.taxPortions track by $index" id="sub-amount" class="amount">
                {{taxPortion.amount | spherePrice}}
            </td>
        </tr>
        <tr class="subtotal">
            <td class="concept">
                Subtotal
            </td>
            <td id="sub-amount" class="amount" colspan="2">
                {{cart.totalPrice | spherePrice}}
            </td>
        </tr>
        <tr class="shipping">
            <td class="concept">
                Shipping
            </td>
            <td ng-if="cart.shippingInfo" id="shipping-cost" class="amount" colspan="2">
                {{cart.shippingInfo.shippingRate.price | spherePrice}}
            </td>
            <td ng-if="!cart.shippingInfo" id="shipping-cost" class="amount" colspan="2">
                -
            </td>
        </tr>
        <tr ng-if="cart.discountCodes != null && cart.discountCodes.length > 0" class="shipping">
            <td class="concept">
                Discount <span style="font-size: 10px;">(included)</span>
            </td>
            <td class="amount" colspan="2">
            </td>
        </tr>
        <tr id="final-order-price">
            <td class="concept">
                <b>Order Total</b>
            </td>
            <td id="price-total" class="amount" colspan="2">
                {{cart.totalPrice ? (cart.totalPrice | spherePrice) : '-'}}
            </td>
        </tr>
    </table>
    <div ng-controller="CartController">
        <a ng-if="!isCheckout" ng-click="proceedToCheckout()" href="" class="btn block radius blue">Proceed To Checkout</a>

        <div id="cart-coupon" class="coupons">
            <h6>Have a Coupon?</h6>
            <input ng-model="code" type="text" placeholder="Type your coupon code"/>
            <button ng-click="addDiscountCode(code)" class="btn block outline thick radius blue">Apply Coupon</button>
        </div>
    </div>
</div>
