<hr class="nav-divider"/>
<div class="content-wrapper" ng-controller="CartController" ng-init="findOne()">
    <section id="breadcrumbs">
        <div class="breadcrumb">

			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
				<span class="breadcrumb-last" rel="v:url" property="v:title">Checkout</span>
			</span></span>
        </div>
    </section>
    <section class="page">
        <div class="content checkout-steps">
            <h1 class="page-title">Checkout</h1>
            <section class="steps">
                <div class="panels full">

                    <div>
                        <h4>Review Order</h4>
                        <hr>
                        <div class="panel-content">
                            <h6>Order Details</h6>
                            <table id="cart" class="checkout-review">
                                <thead>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lineItem in cart.lineItems track by lineItem.id" class="product-row">
                                    <td class="product-image">
                                        <img ng-src="{{lineItem.variant.images[0].url}}"/>
                                        <span class="product-name">{{lineItem.name.en}}</span>
                                    </td>
                                    <td class="product-price">
                                        {{lineItem.price.value | spherePrice}}
                                    </td>
                                    <td class="quantity">
                                        {{lineItem.quantity}}
                                    </td>
                                    <td class="item-total-checkout">
                                       {{lineItem.price.value.centAmount *
                                        lineItem.quantity / 100}} {{lineItem.price.value.centAmount}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--Shipping, Payment, and Totals-->
                            <section id="order-totals-checkout">
                                <div class="checkout-totals" id="billing">
                                    <h6>Payment Information</h6>
                                    <b>{{cart.billingAddress.firstName}} {{cart.billingAddress.lastName}}</b><br/>
                                    {{cart.billingAddress.streetName}} {{cart.billingAddress.streetNumber}}<br/>
                                    {{cart.billingAddress.phone}}

                                </div>
                                <div class="checkout-totals" id="shipping">
                                    <h6>Shipping Information</h6>
                                    <b>{{cart.shippingAddress.firstName}} {{cart.shippingAddress.lastName}}</b><br/>
                                    {{cart.shippingAddress.streetName}} {{cart.shippingAddress.streetNumber}}<br/>
                                    {{cart.shippingAddress.phone}}

                                </div>
                                <div class="checkout-totals" id="order-total">
                                    <h6>Totals</h6>
                                    <table id="final-totals">
                                        <tbody>
                                        <tr>
                                            <td>Sub Total</td>
                                            <td>{{(cart.taxedPrice.totalGross -
                                                cart.shippingInfo.shippingRate.price.centAmount) / 100}} {{cart.totalPrice.currencyCode}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Taxes</td>
                                            <td ng-repeat="taxPortion in cart.taxedPrice.taxPortions">
                                               {(taxPortion.amount | spherePrice}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td ng-if="cart.shippingInfo">
                                                {{cart.shippingInfo.shippingRate.price | spherePrice}}
                                            </td>
                                            <td ng-if="!cart.shippingInfo">-</td>
                                        </tr>
                                        <tr>
                                            <td><h6>Order Total</h6></td>
                                            <td><h6>{{cart.taxedPrice.totalGross | spherePrice}}</h6></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="place-order">
                                    <br/>

                                    <div class="row">
                                        <div class="col col-md-12">
                                            <input ng-click="placeOrder()" type='button' class="btn block blue outline radius" value="Place Order"/>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>

        </div>
        <!--close steps column-->
        <!--checkout side column-->

        <div ng-include="'modules/carts/views/side-cart.client.view.html'"></div>

    </section>
</div>
