<section data-ng-controller="ProductsController" data-ng-init="init()">
    <!-- <div class="slider-wrapper">
        <div class="content-wrapper"> -->
            <section id="subpage-head">
                <div class="subpage-hero">
                    <h1 class="subpage-title"></h1>
                    <img  ng-src="{{contentfulData.subHeaderImage.fields.file.url}}" />
                </div>
            </section>
        <!-- </div>
    </div> -->
    <div class="content-wrapper">
        <section id="breadcrumbs">
            <div class="breadcrumb">

      <span xmlns:v="http://rdf.data-vocabulary.org/#">
      <span typeof="v:Breadcrumb" ng-if="gender">
        <a class="bc-link" rel="v:url" property="v:title" href="/#!">Home</a> /
        <!-- <a class="bc-link" rel="v:url" property="v:title" href="//categories/{{category}}">{{category}}</a> / -->
        <span class="breadcrumb-last" rel="v:url" property="v:title">{{pageTitle}}</span>
      </span>
      <span typeof="v:Breadcrumb" ng-if="!gender">
        <a class="bc-link" rel="v:url" property="v:title" href="/#!">Home</a> /
        <!-- <span class="breadcrumb-last" rel="v:url" property="v:title">{{category}}</span> -->
      </span>

        </span>
            </div>
        </section>
        <section id="{{gender}}s-{{category}}" class="page page-head shop-head">
            <div class="shop-intro-text">
                <h1 class="page-title">{{pageTitle}}</h1>

                <div class="sorters">
                    <a ng-click="sortBy('name');" id="by-name"
                       class="sorting {{selectedSort.name == 'name'?'active':''}}"
                       ng-class="sort.name == 'ASC' ? 'up' : 'down'">Sort by Name</a>
                    <a ng-click="sortBy('price');" id="by-price"
                       class="sorting {{selectedSort.name == 'price'?'active':''}}"
                       ng-class="sort.price == 'ASC' ? 'up' : 'down'">Sort by Price</a>
                </div>
                <div class="category-filters">
                    <div ng-click="optionFilter()"  class="cat-sort {{selectedOptionFilter == 'ALL'? 'active':''}}" id="all">Filter Options</div>
                    <!-- <a ng-click="optionFilter('FRAMES') " class="cat-sort {{selectedOptionFilter == 'FRAMES'? 'active':''}}" id="frames">Frames</a>
                    <a ng-click="optionFilter('PRESCRIPTION')" class="cat-sort {{selectedOptionFilter == 'PRESCRIPTION'? 'active':''}}" id="frames-prescription">Frames+ Prescription</a> -->
                </div>
            </div>
        </section>
        <section id="mens-eyewear-products" class="shop">
            <div class="filters">
                <div data-ng-include="'/modules/products/views/shop-filters.client.view.html'"></div>
            </div>
            <a href="#" id="show-filters" class="btn tblue block">Show Filters</a>

            <div class="products" id="main">
                <div data-ng-include="'/modules/products/views/products-grid.client.view.html'"></div>
            </div>

        </section>


    </div>
    </div>
</section>
