<div ng-controller="ProductsController" ng-init="setCategory(); latestProducts(category); selectedGender = 'men'">
	<div class="slider-wrapper">
		<div class="content-wrapper">
			<section id="subpage-head">
				<div class="subpage-hero">
					<h1 class="subpage-title">{{category}}</h1>
					<img src="design/images/eyewear/eyewear-hero.jpg"/>
					<!-- <img ng-src="design/images/{{category}}/{{category}}-hero.jpg"/>  -->
				</div>
			</section>
		</div>
	</div>
	<div class="content-wrapper">
		<section id="breadcrumbs">
			<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> / 
				<span class="breadcrumb-last" rel="v:url" property="v:title">{{category}}</span>
			</span></span>
			</div>
		</section>
		<section id="eyewear" class="page">
			<div class="sub-page-intro-text">
				<h1 class="page-title">{{category}} Ipsum Dolor</h1>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam.</p>

			</div>
		</section>
		<hr/>
		<section id="gender-select" class="page">
			<div class="selection">
				<div id="eyewear-gender-selection">
					<div id="men" class="select active" ng-class="{active: selectedGender == 'men'}">
						<!-- <a href="#" data-target="men-panel" class="panel-loader"
						   panelTrigger> -->
						<!-- <a href="#" class="panel-loader"> -->
						<a ng-click="selectedGender = 'men'">
							<img src="design/images/eyewear/men-thumbnail.jpg"/>
							<!-- <img src="design/images/{{category}}/men-thumbnail.jpg"/> -->
							<h5>Men's {{category}}</h5>
						</a>
					</div>
					<div id="women" class="select"  ng-class="{active: selectedGender == 'women'}">
						<!-- <a href="#" data-target="women-panel" class="panel-loader" panelTrigger> -->
						<!-- <a href="#" class="panel-loader"> -->
						<a ng-click="selectedGender = 'women'">
							<img src="design/images/eyewear/women-thumbnail.jpg"/>
							<!-- <img src="design/images/{{category}}/women-thumbnail.jpg"/> -->
							<h5>Women's {{category}}</h5>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--close wrapper for full width backgroud-->
	<div class="gender-product-preview-wrapper">
		<div class="content-wrapper">
			<section class="product-panels">
				<div ng-class="category" class="panel" id="men">
					<div class="description">
						<h2 id="test-panel">{{products[selectedGender][0].name[lang]}}</h2>
						<span class="no-stock-notice" ng-hide="products[selectedGender][0].masterVariant.availability.isOnStock">Out Of Stock</span>
					<span class="price">
						<del ng-show="products[selectedGender][0].masterVariant.basePrices[currency]">
							<span class="amount">{{products[selectedGender][0].masterVariant.basePrices[currency] | spherePrice}}</span>
						</del>
						<ins>
							<span class="amount sale-price large">{{products[selectedGender][0].masterVariant.prices[currency] | spherePrice}}</span>
						</ins>
					</span>
						<p>{{products[selectedGender][0].description[lang]}}</p>
						<a href="#!/products/{{products[selectedGender][0].id}}" class="btn blue radius thick">SHOP NOW</a> <a
							href="/eyewear/men-eyewear.html" class="btn blue outline radius thick">Shop All {{selectedGender}}'s {{category}}</a>
					</div>
					<div class="section-cover">
						<img ng-src="{{products[selectedGender][0].masterVariant.images[0]['url']}}" ng-show="products[selectedGender][0].masterVariant.images.length > 0" />
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="products-wrapper">
		<section class="products" id="men-{{category}}-products">
			<div class="products-head">
				<h3>Shop Latest Men's {{category}} Products</h3>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
					tempor invidunt ut labore et dolore magna aliquyam.</p>
			</div>
			<div class="product" ng-repeat="product in products.men.slice(1)">
				<div class="product-extras">
					<span class="on-sale-badge" ng-if="product.masterVariant.basePrices[currency]">Sale</span>
					<span class="no-stock-notice" ng-if="product.masterVariant.availability.isOnStock">Out of Stock</span>
				</div>
				<a ng-href="#!/products/{{product.id}}" class="product-cover"><img ng-src="{{product.masterVariant.images[0]['url']}}" /></a>
				<a ng-href="#!/products/{{product.id}}" class="product-title"><b>{{product.name[lang]}}</b></a>
				<span class="price">
					<del ng-if="product.masterVariant.basePrices[currency]">
						<span class="amount">{{product.masterVariant.basePrices[currency] | spherePrice}}</span>
					</del>
					<ins>
						<span class="amount sale-price">{{product.masterVariant.prices[currency] | spherePrice}}</span>
					</ins>
				</span>
			</div>
		</section>
		<section class="all-link"><!--has to be a section for clearfix-->
			<a ng-href="#!/categories/men/{{category}}" class="btn blue radius">Shop All Men's {{category}}</a>
		</section>
		<hr/>
		<section class="products" id="women-{{category}}-products">
			<div class="products-head">
				<h3>Shop Latest Women's {{category}} Products</h3>

				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
					tempor invidunt ut labore et dolore magna aliquyam.</p>
			</div>
			<div class="product" ng-repeat="product in products.women.slice(1)">
				<div class="product-extras">
					<span class="on-sale-badge" ng-if="product.masterVariant.basePrices[currency]">Sale</span>
					<span class="no-stock-notice" ng-if="product.masterVariant.availability.isOnStock">Out of Stock</span>
				</div>
				<a ng-href="#!/products/{{product.id}}" class="product-cover"><img ng-src="{{product.masterVariant.images[0]['url']}}"/></a>
				<a ng-href="#!/products/{{product.id}}" class="product-title"><b>{{product.name[lang]}}</b></a>
				<span class="price">
					<del ng-if="product.masterVariant.basePrices[currency]">
						<span class="amount">{{product.masterVariant.basePrices[currency] | spherePrice}}</span>
					</del>
					<ins>
						<span class="amount sale-price">{{product.masterVariant.prices[currency] | spherePrice}}</span>
					</ins>
				</span>
			</div>
		</section>
		<section class="all-link"><!--has to be a section for clearfix-->
			<a ng-href="#!/categories/women/{{category}}" class="btn blue radius">Shop All Women's {{category}}</a>
		</section>

	</div>
</div>
