<hr class="nav-divider"/>
<div ng-controller="ProductsController" data-ng-init="view()" bindonce="product" itemscope itemtype="http://schema.org/Product">
  <div class="content-wrapper">
    <section id="breadcrumbs">
      <div class="breadcrumb">

      <span xmlns:v="http://rdf.data-vocabulary.org/#">
      <!-- <span typeof="v:Breadcrumb">
        <a class="bc-link" rel="v:url" property="v:title" href="/">Home</a>
        <a class="bc-link" rel="v:url" property="v:title" ng-href="//categories/{{breadcrumbs.category}}">{{breadcrumbs.category}}</a> /
        <a class="bc-link" rel="v:url" property="v:title" ng-show="breadcrumbs.sub_category.show" ng-href="{{breadcrumbs.sub_category.url}}">{{breadcrumbs.sub_category.name}}</a> <span ng-show="breadcrumbs.sub_category.show"> / </span> -->
        <span class="breadcrumb-last" rel="v:url" property="v:title">{{product.name[lang]}}</span>
      </span></span>
      </div>
    </section>
    <section id="product-details" itemscope itemtype="http://schema.org/Product">
      <div class="product-images">
        <div class="img-big" style="margin-bottom: 15px;">
          <img itemprop="image" ng-src="{{imgBig}}" ng-hide="imgBig == undefined"/>
        </div>

        <span class="thumbnails"  ng-repeat="image in imageThumbnails">
          <a class="thumbnail-wrapper">
          <img class="thumbnail" ng-mouseover="switchImageBig(image.url)" class="thumbnail" ng-src="{{image.url | size: 'small'}}" data-image="{{image.url}}"/>
          </a>
        </span> <br>
      </div>
      <div class="product-details">
        <h1 itemprop="name" class="product-title" bo-text="product.name | locale"></h1>
        <meta itemprop="url" content="http://www.focali.com/eyewear/mens-eyewear/focali-better-view/">
        <meta itemprop="brand" content="Focali">
        <meta itemprop="manufacturer" content="Focali Inc">
      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="availability" ng-if="currentVariant.availability.isOnStock" content="In Stock">
        <meta itemprop="itemCondition" ng-if="currentVariant.attr.isNew" content="New">
        <span class="new-badge" ng-show="currentVariant.attr.isNew">New</span>
        <span class="on-sale-badge" ng-if="currentVariant.prices [0].discounted">Sale</span>
        <!-- <span class="no-stock-notice" ng-if="!currentVariant.availability.isOnStock">Out of Stock</span> -->
        <div class="price">
          <del bo-if="currentVariant.prices [0].discounted">
            <span class="amount" >{{currentVariant.prices[0].price | spherePrice}}</span>
          </del>
          <ins>
              <div class="notice outline red small" ng-show="error.distributionChannel">Please select an option</div>
              <div ng-repeat="price in currentVariant.prices | currency track by price.id" class="channel-option" >
                <br>
                <input type="radio" data-ng-model="$parent.distributionChannel" ng-value="channelInfo (price).key" name="channel" id="channel-{{channelInfo (price).key}}"/>
                <label for="channel-{{channelInfo (price).key}}" class="channel-price">
                  <span ng-bind="channelInfo(price).name.en"></span>
                  <span  bo-if="currentVariant.prices [0].discounted" bo-text="price.discounted | spherePrice" style="float:right"></span>
                  <span  bo-if="!currentVariant.prices [0].discounted" bo-text="price | spherePrice" style="float:right"></span>
                </label>
              </div>
          </ins>
        </div>
      </span>


        <div  ng-repeat="facet in facetsArray" class="selection">
          <b class="section-box">Choose {{formatFacetName(facet.displayName)}}</b>
          <select ng-change="selectVariant(facet.name, currentFilters[facet.name])"
                  ng-model="currentFilters[facet.name]" class="active">
            <option value="" disabled selected>{{formatFacetName(facet.displayName)}}</option>
            <option ng-repeat="value in facet.value">{{value.term}}</option>
          </select>
        </div>

        <div class="add-to-cart">
          <button ng-click="decrementQuantity()" class="op" id="minus" ng-class="currentVariant.availability.isOnStock ? 'blue' : 'grey'">&#45;</button>
          <input type="text" min="1" id="item-amount" value="{{quantity}}">
          <button ng-click="incrementQuantity()" class="op" ng-class="currentVariant.availability.isOnStock ? 'blue' : 'grey'" id="more">&#43;</button>
          <div class="addbtn {{isAvailable ? '' : 'disabled-div'}}">
            <button ng-click="addToCart(currentVariant.availability.isOnStock)" class="cart-add btn radius" ng-class="currentVariant.availability.isOnStock ? 'blue' : 'grey'">Add to Cart</button>
          </div>
            <!--<button class="cart-add btn grey radius" ng-if="!currentVariant.availability.isOnStock">Add to Cart</button>-->
        </div>
        <div class="product-description" itemprop="description">
          <p ng-bind-html="trustAsHtml(product.description.en)"></p>
        </div>
        <section class="meta">
          <div class="social-block">
            <span>Tell Friends</span>

            <div data-addthis-toolbox
                 class="addthis_toolbox addthis_default_style addthis_16x16_style">
              <a href class="addthis_button_facebook"><i class="social-share" id="facebook"></i></a>
              <a href class="addthis_button_google_plusone_share"><i class="social-share" id="google-plus"></i></a>
              <a href class="addthis_button_twitter"><i class="social-share" id="twitter"></i></a>
            </div>

          </div>
        </section>
      </div>

    </section>


    <section id="product-extra">
      <div class="tabs">
        <a class="tab active" href="#" data-tab="features">Features</a>

      </div>
      <div class="tab-content active" id="features">
        <section class="inner">
          <div class="column" id="complimentary" style="text-align: left">
            <div>Frame Shape: <span data-ng-bind="currentVariant.frameShape.value.label.en | label"></span></div>
            <div>Frame Type: <span data-ng-bind="currentVariant.frameType.value.label.en | label"></span></div>
            <div>Frame Material: <span data-ng-bind="currentVariant.frameMaterial.value.en | label"></span></div>
          </div>
          <div class="column">
            <div>Mirror Reflection: <span data-ng-bind="currentVariant.mirrorReflection.value?'Yes':'No'"></span></div>
          </div>
          <div class="column">
            <div>Width: <span data-ng-bind="currentVariant.width.value.label.en | label"></span></div>
        </section>
      </div>
    </section>
    <section class="related">
      <div class="cross-sells">
        <h3>Recommended Products</h3>
        <section class="products cross-products">
          <product-thumbnail product="product" ng-click="redirectToProduct(product.slug.en,product.displayVariant.sku)" data-ng-repeat="product in recommendedProducts track by product.id"></product-thumbnail>
        </section>
      </div>
    </section>
  </div>
</div>
