<section class="inner">
	<div data-ng-repeat="product in products track by product.id" class="product on-sale no-stock">
		<div class="product-extras">
			<div class="product-extras">
				<span class="on-sale-badge">Sale</span>
				<span class="no-stock-notice">Out of Stock</span>
			</div>
			<a href="/#!/products/{{product.id}}" class="product-cover"><img ng-src="{{product.displayVariant.images[0] ? product.displayVariant.images[0]['url'] : '/design/images/noimage.jpg'}}" err-src="/design/images/noimage.jpg"/></a>
			<a href="/#!/products/{{product.id}}" class="product-title"><b>{{product.name.en}}</b></a>
			<span class="price">
				<del>
					<span class="amount">2000.00</span>
				</del>
				<ins>
					<span class="amount sale-price">{{product.displayVariant.prices[currency] | spherePrice}}</span>
				</ins>
			</span>
		</div>
	</div>
</section>
<div class="pagination">
	<a class="arrow" id="prev" rel="prev" ng-show="$parent.pageNum > 1" ng-click="categoryPage({pageNum: pageNum-1})"></a>	
	<a ng-show="totalPages > 1" id='page-{{$index+1}}' ng-repeat="page in pageRange track by $index" ng-class="$parent.pageNum == $index+1 ? 'current':'indexed-link'" ng-click="categoryPage({pageNum: $index+1})">{{$index+1}}</a>
	<a class="arrow" id="next" rel="next" ng-show="$parent.pageNum < totalPages" ng-click="categoryPage({pageNum: pageNum+1})"></a>
</div>
