<hr class="nav-divider"/>
<div ng-controller="ProductsController" data-ng-init="view()">
  <div class="content-wrapper">
    <section id="breadcrumbs">
      <div class="breadcrumb">
    
      <span xmlns:v="http://rdf.data-vocabulary.org/#">
      <!-- TODO, missing information on how to structure this -->
      <span typeof="v:Breadcrumb">
        <a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> / 
        <a class="bc-link" rel="v:url" property="v:title" ng-href="/#!/{{breadcrumbs.category}}">{{breadcrumbs.category}}</a> / 
        <a class="bc-link" rel="v:url" property="v:title" ng-show="breadcrumbs.sub_category.show" ng-href="{{breadcrumbs.sub_category.url}}">{{breadcrumbs.sub_category.name}}</a> <span ng-show="breadcrumbs.sub_category.show"> / </span>
        <span class="breadcrumb-last" rel="v:url" property="v:title">{{product.name[lang]}}</span>
      </span></span>
      </div>
    </section>
    <section id="product-details" itemscope itemtype="http://schema.org/Product">
      <div class="product-images">
        <div class="img-big">
          <img itemprop="image" ng-src="{{currentVariant.images[0]['url']}}"/>
        </div>
        <div class="thumbnails">
          <a ng-repeat="image in currentVariant.images track by image.url" class="thumbnail-wrapper active" href="#" data-url="{{image.url}}">
            <img class="thumbnail" ng-src="{{image.url}}"
               alt="{{image.label}}"/>
          </a>
        </div>
      </div>
      <div class="product-details">
        <h1 itemprop="name" class="product-title">{{product.name[lang]}}</h1>
        <meta itemprop="url" content="http://www.focali.com/eyewear/mens-eyewear/focali-better-view/">
        <meta itemprop="brand" content="Focali">
        <meta itemprop="manufacturer" content="Focali Inc">
      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="availability" content="In Stock">
        <meta itemprop="itemCondition" content="New">
        <span class="new-badge">New</span>
        <span class="on-sale-badge" ng-if="currentVariant.attr.basePrice">Sale</span>
        <span class="no-stock-notice" ng-if="!currentVariant.availability.isOnStock">Out of Stock</span>
        <div class="price">
          <del>
            <span class="amount" ng-if="currentVariant.attr.basePrice">{{currentVariant.attr.basePrice | spherePrice}}</span>
          </del>
          <ins>
            <span data-ng-bind="currentVariant.prices[currency] | spherePrice"></span>
            <!-- <span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="49.99"
                                           class="amount sale-price">49.99</span> -->
          </ins>
        </div>
      </span>

        <div class="selection">
          <div class="selection-box">
            <label for="color">Color</label>
            <select ng-model="currentVariant" ng-options="variant as variant.attr.color[lang] for variant in product.variants track by variant.id" ng-change="selectVariantFromKey"></select>
          </div>
        </div>
        <div class="add-to-cart">
          <button ng-click="decrementQuantity()" class="op" id="minus">&#45;</button>
          <input type="text" min="1" id="item-amount" value="{{quantity}}">
          <button ng-click="incrementQuantity()" class="op" id="more">&#43;</button>
          <button ng-click="addToCart(product)" class="cart-add btn blue radius">Add to Cart</button>
        </div>
        <div class="product-description" itemprop="description">
          <p data-ng-bind="product.description[lang]"></p>
        </div>
        <section class="meta">
          <div class="social-block">
            <span>Tell Friends</span>
            <a class="social-share" href="#" onclick="#" id="facebook"></a>
            <a class="social-share" href="#" onclick="#" id="google-plus"></a>
            <a class="social-share" href="#" onclick="#" id="twitter"></a>
          </div>
          <div class="tags">
            <span>Tags</span>

            <div class="tag-cloud">Square, Rimless, Narrow, Acetate, Tortoise</div>
          </div>
        </section>
      </div>

    </section>
    <section id="product-extra">
      <div class="tabs">
        <a class="tab active" href="#" data-tab="features">Features</a>
        <a class="tab" href="#" data-tab="sizing">Sizing</a>
      </div>
      <div class="tab-content active" id="features">
        <section class="inner">
          <div class="column" id="complimentary">
            <p>Complimentary to</p>
            <h4>Triangular Faces</h4>
          </div>
          <div class="column">
            <h4>Lenses</h4>
            <ul>
              <li>Made from polycarbonate</li>
              <li>Offer 100% UV protection</li>
              <li>Anti-scratch and anti-reflective coating</li>
            </ul>
          </div>
          <div class="column">
            <h4>Materials</h4>
            <ul>
              <li>Made from custom cellulose acetate</li>
              <li>Akulon-coated screws for durability</li>
              <li>Cut from a single sheet of acetate</li>
            </ul>
          </div>
        </section>
      </div>
      <div class="tab-content" id="sizing">

        <p>Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor
          ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
          fermentum massa justo sit amet risus.</p>
      </div>

    </section>
    <section class="related">
      <div class="cross-sells">
        <h3>Recommended Products</h3>
        <section class="products cross-products">
          <div class="product on-sale no-stock">
            <div class="product-extras">
              <span class="on-sale-badge">Sale</span>
              <span class="no-stock-notice">Out of Stock</span>
            </div>
            <a href="#link-to-product" class="product-cover"><img
                src="design/images/eyewear/eyewear-model.jpg"/></a>
            <a href="#link-to-product" class="product-title"><b>Focali Better View 2015</b></a>
        <span class="price">
          <del>
            <span class="amount">$99.99</span>
          </del>
          <ins>
            <span class="amount sale-price">$49.99</span>
          </ins>
        </span>
          </div>
          <div class="product on-sale">
            <div class="product-extras">
              <span class="on-sale-badge">Sale</span>
            </div>
            <a href="#link-to-product" class="product-cover"><img
                src="design/images/eyewear/eyewear-model.jpg"/></a>
            <a href="#link-to-product" class="product-title"><b>Checking Double or more lines for title</b></a>
        <span class="price">
          <del>
            <span class="amount">$99.99</span>
          </del>
          <ins>
            <span class="amount sale-price">$49.99</span>
          </ins>
        </span>
          </div>
          <div class="product">
            <a href="#link-to-product" class="product-cover"><img
                src="design/images/eyewear/eyewear-model.jpg"/></a>
            <a href="#link-to-product" class="product-title"><b>Focali Better View 2015</b></a>
        <span class="price">
          <del>
            <span class="amount">$99.99</span>
          </del>
          <ins>
            <span class="amount sale-price">$49.99</span>
          </ins>
        </span>
          </div>
          <div class="product on-sale no-stock">
            <div class="product-extras">
              <span class="on-sale-badge">Sale</span>
              <span class="no-stock-notice">Out of Stock</span>
            </div>
            <a href="#link-to-product" class="product-cover"><img
                src="design/images/eyewear/eyewear-model.jpg"/></a>
            <a href="#link-to-product" class="product-title"><b>Focali Better View 2015</b></a>
        <span class="price">
          <del>
            <span class="amount">$99.99</span>
          </del>
          <ins>
            <span class="amount sale-price">$49.99</span>
          </ins>
        </span>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
