<section class="inner">
	<div class="product on-sale no-stock">
		<div class="product-extras">
			<span class="on-sale-badge">Sale</span>
			<span class="no-stock-notice">Out of Stock</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Focali Better View 2015</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<div class="product-extras">
			<span class="on-sale-badge">Sale</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Checking Double or more lines for title</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<div class="product-extras">
			<span class="on-sale-badge">Sale</span>
			<span class="no-stock-notice">Out of Stock</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Focali Better View 2015</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<div class="product-extras">
			<span class="on-sale-badge">Sale</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Checking Double or more lines for title</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<div class="product-extras">
			<span class="no-stock-notice">Out of Stock</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Focali Better View 2015</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Checking Double or more lines for title</b></a>
		<span class="price">
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<div class="product-extras">
			<span class="on-sale-badge">Sale</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Focali Better View 2015</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
	<div class="product">
		<div class="product-extras">
			<span class="on-sale-badge">Sale</span>
		</div>
		<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
		<a href="#!/product-detail/1" class="product-title"><b>Checking Double or more lines for title</b></a>
		<span class="price">
			<del>
				<span class="amount">$99.99</span>				
			</del>
			<ins>
				<span class="amount sale-price">$49.99</span>
			</ins>
		</span>
	</div>
</section>
<div class="pagination">
	<a class="arrow" id="prev" href="#" rel="prev"></a>
	<span class="current">1</span>
	<a id="page-2" class="indexed-link" href="#">2</a>
	<a id="page-3" class="indexed-link" href="#">3</a>
	<a class="arrow" id="next" href="#" rel="next"></a>
</div>
