<hr class="nav-divider"/>
<div ng-controller="ProductsController" data-ng-init="view()" bindonce="product" itemscope itemtype="http://schema.org/Product">
  <div class="content-wrapper">
    <section id="breadcrumbs">
      <div class="breadcrumb">
    
      <span xmlns:v="http://rdf.data-vocabulary.org/#">
      <!-- TODO, missing information on how to structure this -->
      <span typeof="v:Breadcrumb">
        <a class="bc-link" rel="v:url" property="v:title" href="#!/">Home</a> /
        <a class="bc-link" rel="v:url" property="v:title" ng-href="/#!/categories/{{breadcrumbs.category}}">{{breadcrumbs.category}}</a> / 
        <a class="bc-link" rel="v:url" property="v:title" ng-show="breadcrumbs.sub_category.show" ng-href="{{breadcrumbs.sub_category.url}}">{{breadcrumbs.sub_category.name}}</a> <span ng-show="breadcrumbs.sub_category.show"> / </span>
        <span class="breadcrumb-last" rel="v:url" property="v:title">{{product.name[lang]}}</span>
      </span></span>
      </div>
    </section>
    <section id="product-details" itemscope itemtype="http://schema.org/Product">
      <div class="product-images">
        <div class="img-big">
          <img itemprop="image" ng-src="{{currentVariant.images[0]['url']}}" ng-hide="currentVariant.images.length == 0"/>
        </div>
        <div class="thumbnails" product-images>
        </div>
      </div>
      <div class="product-details">
        <h1 itemprop="name" class="product-title" bo-text="product.name | locale"></h1>
        <meta itemprop="url" content="http://www.focali.com/eyewear/mens-eyewear/focali-better-view/">
        <meta itemprop="brand" content="Focali">
        <meta itemprop="manufacturer" content="Focali Inc">
      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="availability" ng-if="currentVariant.availability.isOnStock" content="In Stock">
        <meta itemprop="itemCondition" ng-if="currentVariant.attr.isNew" content="New">
        <span class="new-badge" ng-show="currentVariant.attr.isNew">New</span>
        <span class="on-sale-badge" ng-if="currentVariant.basePrices[currency]">Sale</span>
        <span class="no-stock-notice" ng-if="!currentVariant.availability.isOnStock">Out of Stock</span>
        <div class="price">
          <del bo-if="currentVariant.basePrices[currency]">
            <span class="amount" >{{currentVariant.basePrices[currency] | spherePrice}}</span>
          </del>
          <ins>
              <div class="notice outline red small" ng-show="error.distributionChannel" ng-bind="error.distributionChannel"></div>
              <div ng-repeat="price in currentVariant.prices | currency track by price.id" >
                <input type="radio" data-ng-model="$parent.distributionChannel" ng-value="price.channel.key" name="channel" id="channel-{{price.channel.key}}"></input>
                <label for="channel-{{price.channel.key}}" class="channel-price">
                  <span bo-text="price.channel.name.en"></span>
                  <span bo-text="price | spherePrice" style="float:right"></span>
                </label>
              </div>
          </ins>
        </div>
      </span>

        <div class="selection">
          <div class="selection-box">
            <label for="color">Color</label>
            <select ng-model="currentVariant" ng-options="variant as variant.attr.color[lang] for variant in product.variants track by variant.id" ng-change="selectVariantFromKey"></select>
          </div>
        </div>
        <div class="add-to-cart" ng-if="currentVariant.availability.isOnStock">
          <button ng-click="decrementQuantity()" class="op" id="minus">&#45;</button>
          <input type="text" min="1" id="item-amount" value="{{quantity}}">
          <button ng-click="incrementQuantity()" class="op" id="more">&#43;</button>
          <button ng-click="addToCart(product)" class="cart-add btn blue radius">Add to Cart</button>
        </div>
        <div class="product-description" itemprop="description">
          <p bo-text="product.description | locale"></p>
        </div>
        <section class="meta">
          <div class="social-block">
            <script src="http://platform.twitter.com/widgets.js"></script>
            <span>Tell Friends</span>
            <a facebook-feed-share class="social-share" id="facebook" data-url='{{shareUrl}}' data-name="{{product.name | locale}}" data-picture="{{currentVariant.images[0]['url']}}" data-caption="Focali Optics - {{(breadcrumbs.sub_category ? breadcrumbs.sub_category.name : breadcrumbs.category.name) | label}}" data-description="{{product.description | locale}}"></a>
            <a class="social-share" href="#" onclick="#" id="google-plus"></a>
            <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='{{shareUrl}}' data-action='share'></div>
            <a class="social-share" id="twitter" bo-href="tweetUrl"></a>
          </div>
        </section>
      </div>

    </section>
    <section id="product-extra">
      <div class="tabs">
        <a class="tab active" href="#" data-tab="features">Features</a>

      </div>
      <div class="tab-content active" id="features">
        <section class="inner">
          <div class="column" id="complimentary" style="text-align: left">
            <div>Frame Shape: <span data-ng-bind="currentVariant.attr.frameShape.label.en | label"></span></div>
            <div>Frame Type: <span data-ng-bind="currentVariant.attr.frameType.label.en | label"></span></div>
            <div>Frame Material: <span data-ng-bind="currentVariant.attr.frameMaterial.en | label"></span></div>
          </div>
          <div class="column">
            <div>Mirror Reflection: <span>{{currentVariant.attr.mirrorReflection | label}}</span></div>
          </div>
          <div class="column">
            <div>Width: <span data-ng-bind="currentVariant.attr.width.label.en | label"></span></div>
        </section>
      </div>
    </section>
    <section class="related">
      <div class="cross-sells">
        <h3>Recommended Products</h3>
        <section class="products cross-products">
          <product-thumbnail product="product" data-ng-repeat="product in recommendedProducts track by product.id"></product-thumbnail>
        </section>
      </div>
    </section>
  </div>
</div>
