<div class="filter-block" id="price-filter">
  <p class="filter-title">Filter by Price</p><a class="clearfilter" ng-click="clearFilter('price')">Clear</a>
  <label class="radio-price" ng-class="{'checked': productFilters['price'] == '0-99'}">
    <input type="radio" ng-model="productFilters['price']" ng-change="priceRange()" name="price" value="0-99">
    Below $100
  </label><br/>
  <label class="radio-price" ng-class="{'checked': productFilters['price'] == '100-200'}">
    <input type="radio" ng-model="productFilters['price']" ng-change="priceRange()" name="price" value="100-200">$100 - $200
  </label><br/>
  <label class="radio-price" ng-class="{'checked': productFilters['price'] == '200-500'}">
    <input type="radio" ng-model="productFilters['price']" ng-change="priceRange()" name="price" value="200-500">$200 - $500
  </label><br/>

  <div id="range">
    <div id="price-range" price-range></div>
    $ <input type="number" ng-model="productFiltersMin" min="0" max="499" id="range-number-min" ng-change="minChange(productFiltersMin)" /> - $
    <input type="number" ng-model="productFiltersMax" min="1" max="500" id="range-number-max"  ng-change="maxChange(productFiltersMax)"/>
    <button type="submit" id="apply-price" ng-click="init()">Filter</button>
  </div>
</div>

<div ng-repeat-start="(facetKey, facetOptions) in facetConfig track by facetKey" class="filter-block" id="{{facetKey}}-filter"  ng-show="facets[facetKey].length > 0"  >
  <p class="filter-title">{{facetOptions.title}}</p><a class="clearfilter" ng-click="clearFilter(facetKey)">Clear</a>
  <label ng-repeat="term in facets[facetKey] track by term.term" class="check-option">
  <input uicheckbox type="checkbox" value="{{term.term.toLowerCase()}}" ng-model="selectedFilters[facetKey][term.term]" name="{{term.term.toLowerCase()}}" ng-change="init()">
  {{term.term | facets}} <!--<span class="cat-amount">({{term.count}})</span>-->
  </label>
</div>
<hr ng-show="facets[facetKey].length > 0" ng-repeat-end/>
