<div class="filter-block" id="price-filter">
  <p class="filter-title">Filter by Price</p><a class="clearfilter" ng-click="clearFilter('price')">Clear</a>
  <label class="radio-price" ng-class="{'checked': productFilters['price'] == '0-99'}">
    <input type="radio" ng-model="productFilters['price']" ng-change="categoryPage()" name="price" value="0-99">
    Below $100
  </label><br/>
  <label class="radio-price" ng-class="{'checked': productFilters['price'] == '100-200'}">
    <input type="radio" ng-model="productFilters['price']" ng-change="categoryPage()" name="price" value="100-200">$100 - $200
  </label><br/>
  <label class="radio-price" ng-class="{'checked': productFilters['price'] == '200-500'}">
    <input type="radio" ng-model="productFilters['price']" ng-change="categoryPage()" name="price" value="200-500">$200 - $500
  </label><br/>

  <div id="range">
    <div id="price-range" price-range></div>
    $ <input type="number" ng-model="productFilters['price']['min']" min="0" max="499" id="range-number-min"/> - $
    <input type="number" ng-model="productFilters['price']['max']" min="1" max="500" id="range-number-max"/>
    <button type="submit" id="apply-price">Filter</button>
  </div>
</div>

<!--
<hr/>
<div class="filter-block" id="categories">
  <p class="filter-title">Category</p><a href="#" class="clearfilter">Clear</a>
  <label class="check-option checked">
    <input type="checkbox" uicheckbox value="frames" checked>
    Frames <span class="cat-amount">(345)</span>
  </label>
  <label class="check-option checked">
    <input type="checkbox" uicheckbox value="framesprescription" checked>
    Frames + Prescription <span class="cat-amount">(204)</span>
  </label>
</div>
<hr/> -->

<div ng-repeat-start="(facetKey, facetOptions) in facetConfig" class="filter-block" id="{{facetKey}}-filter" >
  <p class="filter-title">{{facetOptions.title}}</p><a class="clearfilter" ng-click="clearFilter(facetKey)">Clear</a>
  <label ng-repeat="term in facets[$utils.attrKey(facetKey, facetOptions)].terms track by term.term" class="check-option">
  <input uicheckbox type="checkbox" value="{{term.term.toLowerCase()}}" ng-model="productFilters[facetKey][term.term]" name="{{term.term.toLowerCase()}}" ng-change="categoryPage()">
  {{term.term | facets}} <!--<span class="cat-amount">({{term.count}})</span>-->
  </label>
</div>
<hr ng-repeat-end/>
