<div class="slider-wrapper">
	<div class="content-wrapper">
		<section id="subpage-head">
			<div class="subpage-hero">
				<h1 class="subpage-title">Women's 2015 Summer</h1>
				<img src="design/images/eyewear/women-eyewear.jpg"/>
			</div>
		</section>
	</div>
</div>
<div class="content-wrapper">
	<section id="breadcrumbs">
		<div class="breadcrumb">
		
			<span xmlns:v="http://rdf.data-vocabulary.org/#">
			<span typeof="v:Breadcrumb">
				<a class="bc-link" rel="v:url" property="v:title" href="/">Home</a> / 
				<span class="breadcrumb-last" rel="v:url" property="v:title">Women's Summer 2015</span>
			</span></span>
		</div>
	</section>
	<section id="eyewear" class="page">
		<div class="sub-page-intro-text full">
			<h1 class="page-title">Sunglasses Newcomers</h1>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
			
		</div>
	</section>
	<section class="products" id="big">
		<div class="product">
					<div class="product-extras">
						<span class="new-badge">New</span>
						<span class="no-stock-notice">Out of Stock</span>
					</div>
					<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
					<a href="#!/product-detail/1" class="product-title"><b>Focali Better View 2015</b></a>
					<span class="price">
						<del>
							<span class="amount">$99.99</span>				
						</del>
						<ins>
							<span class="amount sale-price">$49.99</span>
						</ins>
					</span>
				</div>
				<div class="product">
					<div class="product-extras">
						<span class="new-badge">New</span>
					</div>
					<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
					<a href="#!/product-detail/1" class="product-title"><b>Checking Double or more lines for title</b></a>
					<span class="price">
						<del>
							<span class="amount">$99.99</span>				
						</del>
						<ins>
							<span class="amount sale-price">$49.99</span>
						</ins>
					</span>
				</div>
				<div class="product">
					<div class="product-extras">
						<span class="new-badge">New</span>
					</div>
					<a href="#!/product-detail/1" class="product-cover"><img src="design/images/sunglasses/sunglasses.jpg"/></a>
					<a href="#!/product-detail/1" class="product-title"><b>Focali Better View 2015</b></a>
					<span class="price">
						<del>
							<span class="amount">$99.99</span>				
						</del>
						<ins>
							<span class="amount sale-price">$49.99</span>
						</ins>
					</span>
				</div>
				<!--explicarle al mati por qué uso un <p> acá para hacer un clearfix-->
				<p class="center">
					<a class="btn blue radius" href="#">Shop All Sunglasses Newcomers</a>
				</p>
		</section>
		<hr/>
		<section id="eyewear" class="page">
			<div class="sub-page-intro-text full">
				<h1 class="page-title">Women's Eyewear Newcomers</h1>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
				
			</div>
		</section>
		<section class="products" id="big">
			<div class="product">
						<div class="product-extras">
							<span class="new-badge">New</span>
							<span class="no-stock-notice">Out of Stock</span>
						</div>
						<a href="/eyewear/men-eyewear/product-detail.html" class="product-cover"><img src="design/images/eyewear/eyewear-model-big.jpg"/></a>
						<a href="/eyewear/men-eyewear/product-detail.html" class="product-title"><b>Focali Better View 2015</b></a>
						<span class="price">
							<del>
								<span class="amount">$99.99</span>				
							</del>
							<ins>
								<span class="amount sale-price">$49.99</span>
							</ins>
						</span>
					</div>
					<div class="product">
						<div class="product-extras">
							<span class="new-badge">New</span>
						</div>
							<a href="/eyewear/men-eyewear/product-detail.html" class="product-cover"><img src="design/images/eyewear/eyewear-model-big.jpg"/></a>
						<a href="/eyewear/men-eyewear/product-detail.html" class="product-title"><b>Checking Double or more lines for title</b></a>
						<span class="price">
							<del>
								<span class="amount">$99.99</span>				
							</del>
							<ins>
								<span class="amount sale-price">$49.99</span>
							</ins>
						</span>
					</div>
					<div class="product">
						<div class="product-extras">
							<span class="new-badge">New</span>
						</div>
						<a href="/eyewear/men-eyewear/product-detail.html" class="product-cover"><img src="design/images/eyewear/eyewear-model-big.jpg"/></a>
						<a href="/eyewear/men-eyewear/product-detail.html" class="product-title"><b>Focali Better View 2015</b></a>
						<span class="price">
							<del>
								<span class="amount">$99.99</span>				
							</del>
							<ins>
								<span class="amount sale-price">$49.99</span>
							</ins>
						</span>
					</div>
					<p class="center">
						<a class="btn blue radius" href="#">Shop All Eyewear Newcomers</a>
					</p>
			</section>
		
</div>
